/* admin page */
/* admin sub menu */
.admin_wrap{
    width:100%;
}

.admin_menu{
    float:left;
    width:16%;
    margin-top: 20px;
}

.admin_content{
    float:right;
    width:940px;
}

.admin_content .notice{
    float:right;
    font-size:13px;
    color:black;
}

.admin_menu > ul > li > a {
    display: block;
    color: #888888;
    background-color: #292929;
    line-height: 35px;
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    border-top:    1px solid  #333;
    border-right:  0px dashed #f0F;
    border-bottom: 1px solid #333;
    border-left:   0px dashed  #09f;
}

.admin_menu > ul > li > a:hover{
    background-color:#aaaaaa;
}

.admin_menu > ul > li > a.active{
    color:#fff;
    background-color:#595959;
}

/* admin Default Setting */
.admin_content_wrap{
    width:100%;
}

.sub_title{
    width:940px;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;
}

.sub_bottom{
    width:940px;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:5px;
}

.sub_well_area{
    margin-top:10px;
    margin-bottom:10px;
}

.sub_well_area .well{
    padding:10px;
    margin:0;
}

.sub_content_menu_area{
    margin-top:10px;
}

.sub_content_menu_area .sub_menu_left_area{float:left;}
.sub_content_menu_area .sub_menu_right_area{float:right;}

/* table */
.sub_content_table{width:40%; margin: 0 auto; border-collapse: separate; border-spacing: 0 40px;}
.sub_content_table tr th{
    padding:0;
    color:#000;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-indent:5px;
    text-align:left;
    font-size:16px;
    font-weight: bold;
    height: 44px;
    margin-bottom: 2px;
    background-color: #ffffff;
    text-align: center;
}
.sub_content_table tr{height: 60px;}
.sub_content_table tr td{background-color:#ffffff;border-radius:3px;vertical-align:center;height: 34px;min-width: 50px;line-height: 34px;cursor:pointer;}
.sub_content_table tr:nth-child(1) td{padding-top: 0; border-top: none;}
.sub_content_table tr td .editable-wrap .editable-buttons{text-indent:0}
.sub_content_table tr td a {color:#888888;font-weight: bold;font-size: 14px;}
.sub_content_table tr:nth-child(even)  { background-color: #ffffff; }
/* .sub_content_table tr:nth-child(odd)  { background-color: #f1f1f1; } */
.sub_content_table tr:nth-child(18)  { background-color: #888888;color:#ffffff;}
.sub_content_table tr:nth-child(18)  a{color:#ffffff;}
.sub_content_table tr.border_line{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-bottom:1px solid #eee;
}
.sub_content_table .ng-scope .selected {
    background-color:#ff00ff;
}
.sub_content_table .del{width:90px;}

.sub_content_table .check_box{width:20px;height:20px;}

.ng-table-pager{
    text-align:center;
}

.table > tbody > tr > th {
    padding: 0px;
}

.btn_area .btn{
    margin-top:10px;
    float:right;
}

.admin_content .item-wrapper .editable-wrap input{
  width:58%;
}

.admin_content .dg_manage_content_area .item-wrapper .editable-wrap{
    width:280px;
}

.admin_content .Group.item-wrapper .editable-wrap{
    width:220px;
}

/* admin_admin_list.css */
.admin_list_table tr .ID{width:200px;}
.admin_list_table tr .Name{width:200px;}
.admin_list_table tr .Phone{width:200px;}

/* admin_notice_item-wrapper form */
.admin_content .title.item-wrapper form{
    /* half the width */
    margin-left: -145px;
    top: -55px;
}
.admin_content .text.item-wrapper form{
  /* half the width */
  margin-left: -195px;
  top: -175px;
}

.notice_box .sub_content_table.notice_table_area .title{width:235px;}
.notice_box .sub_content_table.notice_table_area .text{width:400px;}
.notice_box .sub_content_table.notice_table_area .date{width:235px;}
.notice_box .sub_content_table.notice_table_area .Delete{width:70px;}

.dg_manage_header_area{margin-top:5px;}
.dg_manage_header_area .btn{float:right;}

.dg_manage_content_area .dg_manage_table tr th{font-size:11px;}
.dg_manage_content_area .dg_manage_table tr td{}
.dg_manage_content_area .dg_manage_table thead tr th.no{width:25px;}
.dg_manage_content_area .dg_manage_table thead tr th.dg_name{width:70px;}
.dg_manage_content_area .dg_manage_table thead tr th.name{width:70px;}
.dg_manage_content_area .dg_manage_table thead tr th.site{width:70px;}
.dg_manage_content_area .dg_manage_table thead tr th.location{width:50px;}
.dg_manage_content_area .dg_manage_table thead tr th.shop{width:100px;}
.dg_manage_content_area .dg_manage_table thead tr th.regi_date{width:100px;}
.dg_manage_content_area .dg_manage_table thead tr th.email{width:70px;}
.dg_manage_content_area .dg_manage_table thead tr th.phone{width:70px;}
.dg_manage_content_area .dg_manage_table thead tr th.addr{width:140px;}
.dg_manage_content_area .dg_manage_table thead tr th.memo{width:60px;}
.dg_manage_content_area .dg_manage_table thead tr th.del{width:25px;}

.dg_manage_content_area .dg_manage_table tbody tr td.no{width:25px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.manager_group{width:70px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.name{width:400px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.site{width:70px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.location{width:70px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.shop{width:100px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.regi_date{width:150px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.deptfullnames{width:200px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.addr{width:140px;}
.dg_manage_content_area .dg_manage_table tbody tr td div.memo{width:60px;}
.dg_manage_content_area .dg_manage_table tbody tr td.del{width:25px;}
.dg_manage_content_area .dg_manage_table tbody tr td.deptfullnames{width:200px;}

.dg_manage_content_area .dg_manage_table tr th div span{display:block;}
.dg_manage_content_area .dg_manage_table tbody tr td{}
.dg_manage_content_area .dg_manage_table tr:hover td{background-color:#eee;cursor:pointer;}
.dg_manage_content_area .dg_manage_table tr.active{background-color:#d9edf7;}

.admin_content .item-wrapper.manager_group .editable-wrap{
    width:260px;
}
.admin_content .item-wrapper.name .editable-wrap,
.admin_content .item-wrapper.site .editable-wrap,
.admin_content .item-wrapper.location .editable-wrap,
.admin_content .item-wrapper.shop .editable-wrap,
.admin_content .item-wrapper.email .editable-wrap,
.admin_content .item-wrapper.phone .editable-wrap,
.admin_content .item-wrapper.addr .editable-wrap,
.admin_content .item-wrapper.memo. editable-wrap {.header
    width:320px;
}
.admin_content .search_area{text-align: right; margin-top: 20px;}
.admin_content .select_ui{
    height:20px;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color:#999;
    padding-bottom: 1px;
}
.admin_content .search_input{padding-bottom: 1px;border:1px solid #cccccc;}
.admin_content .search_btn{margin-bottom: 1px;}

.overflow_dot_dg_list{ /* display "..." */
    white-space:nowrap;
    display: block;
    width:100%;
    overflow: hidden;
    text-overflow:ellipsis;
}
.overflow_dot_dg_list:hover{
    overflow:visible;
}


.header {
    width: 1920px;
    height: 66px;
    margin: 0 0 80px;
    object-fit: contain;
}

.brand {
    color: #fff;
    display: block;
    float: left;
    margin: 0 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 212px
}



.header__nav__main li {
    float: left
}

.header__nav__main .nav-item:not(:first-child) {
    margin-left: 24px
}

.header__nav__sub {
    float: right;
    margin-top: 8px;
    margin-right: 16px
}

.header__nav__sub li {
    float: left
}

.header__nav__sub li:not(:first-child) {
    margin-left: 16px
}

.header__nav__mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 8px
}

.nav-item {
    color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 0;
    position: relative;
    text-align: center
}

.nav-item:before {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: .2s ease-in-out 0s
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active,
.nav-item.active {
    color: #fff
}

.nav-item:hover:before,
.nav-item:focus:before,
.nav-item:active:before,
.nav-item.active:before {
    visibility: visible;
    transform: scaleX(1)
}

.nav-item>.ks-icon {
    color: inherit
}