.myinfo_content_area{width:610px;border-top:1px solid #ccc;}

.myinfo_content_area .top_1_1{width:300px;float:left;border-right:1px solid #eee;}
.myinfo_content_area .two_step .editable-wrap{width:200px;}
.myinfo_content_area .two_step .editable-wrap .editable-controls input{width:13px;border:none;}
.myinfo_content_area .two_step .editable-wrap .editable-buttons{margin-left:5px;}
.myinfo_content_area .top_1_2{width:302px;float:right;}
.myinfo_content_area .right_bottom{width:460px;float:right;}

.myinfo_content_area_2{width:100%;border-top:3px solid #ccc;}
.myinfo_content_area_2 .top_2{float:left;width:33.3%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_2 .top_2 .top_3 {float:left;width:33.3%;margin:2px 0;background-color: #fcf0ba;}
.myinfo_content_area_2 .top_2 .top_3 .top_3_1{float:left;width:50%;margin:2px 0;background-color: #fcf0ba;}
.myinfo_content_area_2 .top_2 .top_3 .top_3_1 label{float:left;width:100%;font-size:14px;font-weight:normal;text-align:center;}


.myinfo_content_area_3{width:100%;border-top:3px solid #ccc;}
.myinfo_content_area_3 .top_2{float:left;width:40%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_3 .top_2 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.myinfo_content_area_3 .top_2 .top_2_1{float:left;width:50%;margin:2px 0;background-color: #fcf0ba;}
.myinfo_content_area_3 .top_2 .top_2_1 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.myinfo_content_area_3 .top_2 .top_2_1 .top_2_1_1{float:left;width:70%;margin:2px 0;background-color: #f1ac88;}
.myinfo_content_area_3 .top_2 .top_2_1 .top_2_1_1 .top_2_1_1_img{float:left;width:100%;margin:2px 0;background-color: #FFFFFF;}
.myinfo_content_area_3 .top_2 .top_2_1 .top_2_1_1 .top_2_1_1_img .select_btn{width:100%;text-align: center;}
.myinfo_content_area_3 .top_2 .top_2_1 .top_2_1_2{float:left;width:30%;margin:2px 0;background-color: #f1ac88;}

.myinfo_content_area_3 .top_3{float:left;width:10%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_3 .top_3 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.myinfo_content_area_3 .top_3 .top_3_1{float:left;width:100%;height:80px;background-color: #f1ac88;}
.myinfo_content_area_3 .top_4{float:left;width:100%;height:20px;background-color: #f1ac88;}

.myinfo_content_area_4{float:left;width:80%;margin-left:16%;border-top:3px solid #ccc;}
.myinfo_content_area_4 .subtitle{float:left;width:100%;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;}
.myinfo_content_area_4 label{float:left;margin-left: 10px;}
.myinfo_content_area_4 .top_1{width:10%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_4 .top_1 select{width:100%;}
.myinfo_content_area_4 .top_2{float:left;width:18%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_4 .top_3{float:left;width:10%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_4 .top_3 .top_3_1{float:left;width:100%;height:80px;background-color: #f1ac88;}
.myinfo_content_area_4 .top_2 .top_2_1_1_img{float:left;width:100%;margin:2px 0;background-color: #FFFFFF;}
.myinfo_content_area_4 .top_2 .top_2_1_1_img .select_btn{width:100%;text-align: center;}

.myinfo_content_area_5{float:left;width:80%;margin-left:16%;border-top:3px solid #ccc;}
.myinfo_content_area_5 .subtitle{float:left;width:100%;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;}
.myinfo_content_area_5 label{float:left;}
.myinfo_content_area_5 .top_2_1_1_img{float:left;width:18%;margin:2px 0;background-color: #FFFFFF;}
.myinfo_content_area_5 .top_2_1_1_img .select_btn{width:100%;text-align: center;}


.myinfo_content_area_6{float:left;width:80%;margin-left:16%;border-top:3px solid #ccc;}
.myinfo_content_area_6 .subtitle{float:left;width:100%;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;}
.myinfo_content_area_6 label{float:left;}
.myinfo_content_area_6 .top_2{float:left;width:12%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_6 .top_2 label{width:100%;text-align: center;}
.myinfo_content_area_6 .top_3{float:left;width:8%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_6 .top_3 label{width:100%;text-align: center;}
.myinfo_content_area_6 .top_3 .top_2_1{float:left;width:100%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_6 .top_4{float:left;width:20%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_6 .top_4 label{width:100%;text-align: center;}
.myinfo_content_area_6 .top_4 .top_2_1{float:left;width:100%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_6 .top_4 .top_2_1 input{width:100%}

.myinfo_content_area_6 .top_2 .top_2_1{float:left;width:100%;margin:1px 0;background-color: #d9edf7;border:2px solid #999999;}
.myinfo_content_area_6 .top_2 .top_2_1 .select_ui{
    width:100%;
    height:20px;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color:#999;
    padding-bottom: 1px;
}

.myinfo_content_area_7{float:left;width:80%;margin-left:16%;border-top:3px solid #ccc;}
.myinfo_content_area_7 .subtitle{float:left;width:100%;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;}
.myinfo_content_area_7 label{float:left;}
.myinfo_content_area_7 input{flot:left;width:100%;height:100px;border:1px solid #ccc;}

.myinfo_content_area_8{float:left;width:80%;margin-left:16%;border-top:3px solid #ccc;}
.myinfo_content_area_8 button{width:100px;height:50px;}

.myinfo_content_area .input_label{float:left;width:30%;margin:2px 0;background-color: #d9edf7;}
.myinfo_content_area .input_label label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.myinfo_content_area .input_label2{float:left;width:70%;margin:2px 0;background-color: #77d5f7;}
.myinfo_content_area .input_label2 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.myinfo_content_area .input_value{float:right;width:49%;margin:2px 0;}
.myinfo_content_area .input_value input{width:98%;border:1px solid #ccc;}
.myinfo_content_area .input_value input.password{width:70%;}
.myinfo_content_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.myinfo_content_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.myinfo_content_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}
.myinfo_content_area .input_check{float:left;width:10px;left:10px;margin:2px 0;}
'

.myinfo_sec_content_area{border-bottom:3px solid #ccc;}

.myinfo_sec_content_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.myinfo_sec_content_area .right_area{width:460px;float:right;}

.myinfo_sec_content_area .input_label{float:left;width:49%;margin:2px 0;}
.myinfo_sec_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.myinfo_sec_content_area .input_value{float:right;width:49%;margin:2px 0;}
.myinfo_sec_content_area .input_value input{width:98%;border:1px solid #ccc;}

.myinfo_sec_content_area .input_value .editable-controls select{width:110px;}

.self_opt_reset_btn{margin-left:5px;}

.assign_tagging_area{margin-top:2px;height:150px;padding-top:2px;}
.assign_tagging_area .sub_title{}
.assign_tagging_area .assign_tagging_wrap{}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_search_area{text-align:center;margin-bottom:5px;}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_search_area input{width:900px;}

.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area{width:20%;float:left;}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area .assign_tagging_list.my_box{
    margin-top:5px;
    border:1px solid #ccc;
    padding:5px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area .assign_tagging_list.my_box .sync_btn{width:100%;margin-bottom:5px;}

.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area .tag_box{width:100%;float:left;}

.assign_tagging_area .assign_tagging_wrap .assign_tagging_table_area{width:78%;float:right;}
.assign_tagging_area .assign_tagging_wrap .tagging_table{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th{}
.assign_tagging_area .assign_tagging_wrap .tagging_table tr:hover{background-color: #d9edf7;}

.assign_tagging_area .assign_tagging_wrap .tagging_table th.no{text-align: center;width:40px;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.no{text-align: right;width:40px;}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.tag{text-align: center;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.tag{text-align: center;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.tag a.active{color:#5cb85c;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.tag a.unactive{color:#ccc;}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.name{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.name{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.site{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.site{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.location{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.location{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.shop{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.shop{}


.group_content_area{width:100%;border-top:0px solid #ccc;}
.group_content_area .search_input{width:100%;padding-bottom: 0px;border:1px solid #cccccc;text-align: center;}
.group_content_area  input{margin:0px 0;height:25px;}
.group_content_area .top_0{float:left;width:100%;float:left;background-color: #d9edf7;}

.group_content_area .top_1{float:left;width:10%;float:left;background-color: #d9edf7;border:0px solid #ddd}
.group_content_area .top_1 .top_1_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}

.group_content_area .top_0 .top_2_0 {float:left;width:10%;height:50px;float:left;background-color: #d9edf7;border:0px solid #ddd}
.group_content_area .top_0 .top_2_0 label{width:100%;font-size:14px;margin-top:16px;font-weight:normal;text-align:center;}
.group_content_area .top_2_0 .top_1_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .top_2{float:left;width:20%;float:left;background-color: #d9edf7;border:0px solid #ddd}
.group_content_area .top_2 .top_2_1{float:left;width:25%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .top_2 .top_2_2{float:left;width:15%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .top_2 .top_2_3{float:left;width:30%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}

.group_content_area .top_3{float:left;width:15%;float:left;background-color: #d9edf7;border:0px solid #ddd}
.group_content_area .top_3 .top_3_1{float:left;width:50%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}

.group_content_area .top_4{float:left;width:25%;float:left;background-color: #d9edf7;border:0px solid #ddd}
.group_content_area .top_4 .top_4_1{float:left;width:30%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .top_4 .top_4_2{float:left;width:70%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}

.group_content_area .top_5{float:left;width:90%;float:left;background-color: #d9edf7;border:0px solid #ddd}
.group_content_area .top_5 .top_5_1{float:left;width:16.6%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .top_5 .top_5_1 .top_5_1_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .select_ui{
    width:80%;
    height:25px;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color:#999;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-left:10%;
}


.group_content_area .top_1_1 .top_1_2{float:left;width:200px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .top_1_1 .top_1_3{float:left;width:100px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area .top_1_1 .top_1_4{float:left;width:100px;margin:0px 0;background-color: #d9edf7;}
.group_content_area .top_1_1 input{margin:0px 0;height:27px;}
.group_content_area .top_1_1 .top_1_5{float:left;width:40px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area .top_1_1 .top_1_6{float:left;width:200px;margin:0px 1px;background-color: #d9edf7;}
.group_content_area .top_1_1 .top_1_7{float:left;width:424px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}

.group_content_area_1{width:100%;background-color: #d9edf7;}
.group_content_area_1 .subtitle{float:left;width:100%;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;}
.group_content_area_1 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_1 .top_0{width:100%;float:left;background-color: #d9edf7;}
.group_content_area_1 .top_0 .top_1{float:left;width:200px;height:50px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_1 label{width:100%;margin-top:15px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_1 .top_0 .top_2{float:left;width:12%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_2 label{width:100%;text-align: center;}
.group_content_area_1 .top_0 .top_3{float:left;width:8%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_3 label{width:100%;margin-top:15px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_1 .top_0 .top_3 .top_2_1{float:left;width:100%;margin:1px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_4{float:left;width:20%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_4 label{width:100%;margin-top:15px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_1 .top_0 .top_4 .top_2_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_4 .top_2_1 input{width:100%}
.group_content_area_1 .top_0 .top_5{float:left;width:325px;height:50px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_2 .top_2_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd;}
.group_content_area_1 .top_0 .top_2 .top_2_1 .select_ui{
    width:100%;
    height:25px;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color:#999;
    padding-bottom: 1px;
}

.group_content_area_2{width:100%;border-top:1px solid #ccc;}
.group_content_area_2 .subtitle{float:left;width:100%;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;}
.group_content_area_2 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_2 .top_0{width:100%;float:left;background-color: #d9edf7;}
.group_content_area_2 .top_0 .top_1_1{float:left;width:100%;float:left;border-right:1px solid #eee;}
.group_content_area_2 .top_0 .top_1_1 .top_1_2{float:left;width:10%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_2 .top_0 .top_1_1 .top_1_3{float:left;width:100px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_2 .top_0 .top_1_1 .top_1_3_1{float:left;width:100px;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_2 .top_0 .top_1_1 .top_1_3_1 input{margin:1px 2;height:24px;}
.group_content_area_2 .top_0 .top_1_1 .top_1_4{float:left;width:120px;height:27px;margin:0px 0px;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_2 .top_0 .top_1_1 .top_1_4_1{float:left;width:80px;height:27px;margin-right: 10px;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_2 .top_0 .top_1_1 input{margin:1px 0;height:27px;}
.group_content_area_2 .top_0 .top_1_1 .top_1_5{float:left;width:1230px;height:27px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_2 .top_0 .top_1_1 .select_ui{
    width:100%;
    height:25px;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color:#999;
    padding-bottom: 1px;
    margin-top: 1px;
}
.group_content_area_3{width:100%;height:100px;border-top:1px solid #eee;}
.group_content_area_3 button{float:left;width:150px;height:30px;margin-left:850px;margin-top:20px;text-align: center;}

.group_content_area_4{width:100%;margin-top:70px;border-top:0px solid #ccc;}
.group_content_area_4 label{width:100%;height:50px;margin-top:20px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_4 .top_1{float:left;width:500px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_1 .top_1_1{float:left;width:20%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_1 .top_1_2{float:left;width:40%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_2{float:left;width:600px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_2 .top_1_1{float:left;width:16.66%;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_3{float:left;width:60px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_3 label{width:100%;height:100px;margin-top:47px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_4 .top_4{float:left;width:100px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_4 label{width:100%;height:100px;margin-top:47px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_4 .top_5{float:left;width:280px;margin:0px 0;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_5 label{width:100%;height:50px;margin-top:23px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_4 .top_5 .top_5_1{float:left;width:50.3%;margin-left:-1px;background-color: #d9edf7;border:1px solid #ddd}
.group_content_area_4 .top_5 .top_5_1 label{width:100%;height:25px;margin-top:5px;font-size:14px;font-weight:normal;text-align:center;}
.group_content_area_4 .top_5 .top_5_1 .top_5_2{float:left;width:50.7%;margin-left:-1px;background-color: #d9edf7;border:1px solid #ddd}


.report_content_area{width:100%;border-top:0px solid #ccc;}
.report_content_area .search_input{width:100%;padding-bottom: 1px;border:0px solid #cccccc;text-align: center;}


.report_content_area .top_1_1{width:100%;float:left;border-top:1px solid #eee;}

.report_content_area .top_1_1 .top_1_2{float:left;width:10%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.report_content_area input{float:left;margin:1px 0;height:32px;font-size:14px;font-weight:normal;text-align:center;}
.report_content_area .top_1_1 .top_1_3{float:left;width:90%;margin:0px 0;background-color: #FFFFFF;border:1px solid #eee}
.report_content_area .top_1_1 .top_1_3 button{float:left;margin-top:1px;width:150px;height:31px;margin-left:10px;}
.report_content_area label{float:left;margin-left:50px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:center;}

.report_content_area1{float:left;width:1920px;margin-top:1px;border-top:0px solid #888;min-width:1920px;position:absolute;margin-top: 80px;color:#ffffff;}
.report_content_area1 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.report_content_area1 .top_1{float:left;width:200px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}
.report_content_area1 .top_1 label{width:100%;height:27px;margin-top:34px;font-size:14px;font-weight:normal;text-align:center;}
.report_content_area1 .top_1 .top_1_1{float:left;width:20%;margin:0px 0;background-color: #888;border:1px solid #292929;}
.report_content_area1 .top_1 .top_1_2{float:left;width:40%;margin:0px 0;background-color: #888;border:1px solid #292929;}
.report_content_area1 .top_2{float:left;width:180px;margin:0px 0px;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}
.report_content_area1 .top_2 .top_1_1{float:left;width:89px;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-right:1px solid #292929;}
.report_content_area1 .top_2 .top_1_2{float:left;width:89px;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;}
.report_content_area1 .top_2 label{width:100%;height:27px;margin-top:5px;font-size:14px;font-weight:normal;text-align:center;}
.report_content_area1 .top_3{float:left;width:14%;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}
.report_content_area1 .top_3 .top_3_1{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-right:1px solid #292929;}
.report_content_area1 .top_3 .top_3_2{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;}
.report_content_area1 .top_3 label{width:100%;height:27px;margin-top:5px;font-size:14px;font-weight:normal;text-align:center;}
.report_content_area1 .top_4{float:left;width:15%;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}
.report_content_area1 .top_4 .top_4_1{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-right:1px solid #292929;}
.report_content_area1 .top_4 .top_4_2{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;}
.report_content_area1 .top_4 label{width:100%;height:27px;margin-top:5px;font-size:14px;font-weight:normal;text-align:center;}

/*.report_content_area1{float:left;width:1920px;margin-top:1px;border-top:0px solid #888;min-width:1920px;position:absolute;margin-top: 80px;color:#ffffff;}*/
/*.report_content_area1 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}*/
/*.report_content_area1 .top_1{float:left;width:220px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}*/
/*.report_content_area1 .top_1 label{width:100%;height:27px;margin-top:34px;font-size:14px;font-weight:normal;text-align:center;}*/
/*.report_content_area1 .top_1 .top_1_1{float:left;width:20%;margin:0px 0;background-color: #888;border:1px solid #292929;}*/
/*.report_content_area1 .top_1 .top_1_2{float:left;width:40%;margin:0px 0;background-color: #888;border:1px solid #292929;}*/
/*.report_content_area1 .top_2{float:left;width:280px;margin:0px 0px;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}*/
/*.report_content_area1 .top_2 .top_1_1{float:left;width:50%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-right:1px solid #292929;}*/
/*.report_content_area1 .top_2 .top_1_2{float:left;width:50%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;}*/
/*.report_content_area1 .top_2 label{width:100%;height:27px;margin-top:5px;font-size:14px;font-weight:normal;text-align:center;}*/
/*.report_content_area1 .top_3{float:left;width:300px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}*/
/*.report_content_area1 .top_3 .top_3_1{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-right:1px solid #292929;}*/
/*.report_content_area1 .top_3 .top_3_2{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;}*/
/*.report_content_area1 .top_3 label{width:100%;height:27px;margin-top:5px;font-size:14px;font-weight:normal;text-align:center;}*/
/*.report_content_area1 .top_4{float:left;width:305px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-bottom:1px solid #292929;border-right:1px solid #292929;}*/
/*.report_content_area1 .top_4 .top_4_1{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;border-right:1px solid #292929;}*/
/*.report_content_area1 .top_4 .top_4_2{float:left;width:33.3%;height:29px;margin:0px 0;background-color: #888;border-top:1px solid #292929;}*/
/*.report_content_area1 .top_4 label{width:100%;height:27px;margin-top:5px;font-size:14px;font-weight:normal;text-align:center;}*/

.org_content_area{float:left;width:100%;margin-top:0px;border-top:1px solid #aaa;}
.org_content_area .top_1_1{width:100%;float:left;}

.org_content_area .top_1_1 .top_1_2{float:left;width:10%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_1 .top_1_3{float:left;width:90%;margin:0px 0;background-color: #FFFFFF;border:1px solid #eee}
.org_content_area .top_1_1 .top_1_4{float:left;width:40%;margin:0px 0;background-color: #FFFFFF;border:1px solid #eee}
.org_content_area .top_1_1 .top_1_4 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:18px;font-weight:bold;text-align:left;}
.org_content_area .top_1_1 .top_1_3 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:18px;font-weight:bold;text-align:left;}
.org_content_area .top_1_2  {float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_2 .top_1_2_1{float:left;width:33.3%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_2 .top_1_2_1 .top_1_2_1_1{float:left;width:30%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_2 .top_1_2_1 .top_1_2_1_6{float:left;width:30%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_2 .top_1_2_1 .top_1_2_1_6 label{float:left;width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area .top_1_2 .top_1_2_1 .top_1_2_1_2{float:left;width:10%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_2 .top_1_2_1 .top_1_2_1_3{float:left;width:16%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_2 .top_1_2_1 input{float:left;width:100%;margin:2px 0;height:26px;font-size:14px;font-weight:normal;text-align:left;}
.org_content_area .top_1_2 .top_1_2_1 .top_1_2_1_4{float:left;width:16%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
.org_content_area .top_1_2 .top_1_2_1 .top_1_2_1_5{float:left;width:28%;margin:0px 0;background-color: #d9edf7;border:1px solid #eee}
/*.org_content_area input{float:left;margin:1px 0;height:32px;font-size:14px;font-weight:normal;text-align:center;}*/
/*.org_content_area .top_1_1 .top_1_3{float:left;width:90%;margin:0px 0;background-color: #FFFFFF;border:1px solid #eee}*/
/*.org_content_area .top_1_1 .top_1_3 button{float:left;margin-top:1px;width:150px;height:31px;margin-left:10px;}*/
.org_content_area label{float:left;width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;}

.org_content_area_1{float:left;width:100%;margin-top:20px;border-top:0px solid #ccc;}
.org_content_area_1 .top_1 {float:left;width:100%;margin:0px 0;background-color: #5f5964;border:1px solid #eee}
.org_content_area_1 .top_1 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;color:#ffffff;}
.org_content_area_1 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;}
.org_content_area_1 .top_1_1 {float:left;width:10%;margin:0px 0;background-color: #5f5964;border:1px solid #eee}
.org_content_area_1 .top_1_2 {float:left;width:90%;margin:0px 0;background-color: #5f5964;border:1px solid #eee}
.org_content_area_1 .top_1_2 .select_ui{
    width:10%;
    height:30px;
    margin:2px 3px;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color:#999;
    padding-bottom: 1px;
}

.org_content_area_2{float:left;width:100%;margin-top:1px;border-top:0px solid #ccc;}
.org_content_area_2 input{float:left;width:92%;margin-left:4px;height:24px;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_2 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_2 button{float:left;width:100%;height:24px;margin-top:0px;text-align: center;}
.org_content_area_2 .top_1{float:left;width:50%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_2 .top_1 .top_1_1{float:left;width:80%;margin:0px 0;background-color: #d9edf7;border:0px solid #FFFFFF}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1{float:left;width:50%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1 .top_1_1_1_1{float:left;width:70%;height:144px;margin-left:-1px;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1 .top_1_1_1_1 .top_1_1_1_1_1{float:left;width:140px;margin-left:38px;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1 .top_1_1_1_1 .top_1_1_1_1_1 .top_1_1_1_1_1_1{float:left;width:50%;background-color:margin-left:2px; #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1 .top_1_1_1_2{float:left;width:30%;height:138px;margin:0px 0;background-color: #d9edf7;border:0px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1 .top_1_1_1_2 .top_1_1_1_2_1{float:left;width:100%;height:44px;margin-right:-1px;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1 .top_1_1_1_2 .top_1_1_1_2_2{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:0px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_1 .top_1_1_1 label{width:100%;font-size:14px;margin-top:10px;font-weight:normal;text-align:center;}
.org_content_area_2 .top_1 .top_1_2{float:left;width:20%;margin-left:0px;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_2 .top_2_1{float:left;width:101%;height:36px;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_2 .top_2_2{float:left;width:101%;height:72px;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_2 .top_2_2_1{float:left;width:40%;height:72px;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_2 .top_2_2_2{float:left;width:60%;height:72px;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_2 .top_1 .top_1_2 .top_2_2 label{width:101%;font-size:14px;margin-top:20px;font-weight:normal;text-align:center;}
.org_content_area_2 .top_1 .top_1_2 label{width:100%;font-size:14px;margin-top:2px;font-weight:normal;text-align:center;}


.org_content_area_3{float:left;width:100%;margin-top:1px;border-top:0px solid #ccc;}
.org_content_area_3 input{float:left;width:84px;margin:1px 0;height:24px;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_3 label{width:100%;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_3 button{float:left;width:100%;height:24px;margin-top:0px;text-align: center;}
.org_content_area_3 .top_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_3 .top_1_1{float:left;width:18%;margin:0px 0;background-color: #d9edf7;border:0px solid #FFFFFF}
.org_content_area_3 .top_1_1 .top_1_1_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_3 .top_1_1 .top_1_1_2{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_3 .top_1_1 .top_1_1_2 .top_1_1_2_1{float:left;width:144px;margin-left:72px;background-color: #d9edf7;border:1px solid #FFFFFF;}
.org_content_area_3 .top_1_1 .top_1_1_2 .top_1_1_2_1 .top_1_1_2_1_1{float:left;width:48%;background-color:#d9edf7;margin-left:2px;border:0px solid #FFFFFF;}
.org_content_area_3 .top_1_2{float:left;width:10%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_3 .top_1_2 .top_1_2_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:0px solid #FFFFFF}
.org_content_area_3 .top_1_2 .top_1_2_2{float:left;width:100%;height:276px;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_3 .top_1_2 .top_1_2_2 label{width:100%;margin-top:100px;font-size:14px;font-weight:normal;text-align:center;}

.org_content_area_4{float:left;width:1600px;margin-left:280px;margin-top:20px;border-top:0px solid #ccc;}
.org_content_area_4 .top_1 {float:left;width:100%;margin:0px 0;background-color: #5f5964;border:1px solid #eee}
.org_content_area_4 .top_1 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;color:#ffffff;}
.org_content_area_4 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;}
.org_content_area_4 .top_2 {float:left;width:18%;margin:0px 0;background-color: #d9edf7;border:0px solid #eee}
.org_content_area_4 .top_2 .top_2_1{float:left;width:140px;margin-left:72px;background-color: #d9edf7;border:0px solid #FFFFFF}
.org_content_area_4 .top_2 .top_2_1 .top_2_1_1{float:left;width:48%;background-color:#d9edf7;margin-left:2px;border:0px solid #FFFFFF;}
.org_content_area_4 button{float:left;width:100%;height:24px;margin-top:0px;text-align: center;}

.org_content_area_5{float:left;width:1600px;margin-left:280px;margin-top:20px;border-top:0px solid #ccc;}
.org_content_area_5 label{width:100%;margin-top:4px;margin-left:6px;height:25px;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_5 .top_1 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;color:#ffffff;}
.org_content_area_5 .top_1 {float:left;width:100%;margin:0px 0;background-color: #5f5964;border:1px solid #eee}
.org_content_area_5 .top_1 .top_1_1{float:left;width:100%;margin:0px 0;background-color: #5f5964;border:1px solid #eee}
.org_content_area_5 .top_1 .top_1_1 label{width:100%;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;}
.org_content_area_5 input{float:left;width:100%;margin:2px 0;height:24px;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_5 .top_2 {float:left;width:12%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_5 .top_2 .top_2_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_5 .top_3 {float:left;width:20%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_5 .top_3 .top_3_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_5 .top_4 {float:left;width:8%;margin:1px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_5 .top_4 label{width:100%;margin-top:6px;height:22px;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_5 .top_4 .top_4_1{float:left;width:100%;margin:0px 0;background-color: #d9edf7;border:1px solid #FFFFFF}
.org_content_area_5 .top_4 .top_4_1 label{width:100%;margin-top:2px;height:20px;font-size:14px;font-weight:normal;text-align:center;}
.org_content_area_5 .select_ui{
    width:100%;
    height:25px;
    margin:1px 1px;
    border:1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color:#999;
    padding-bottom: 1px;
}

.org_content_area_6{float:left;width:1600px;margin-left:280px;margin-top:20px;border-top:0px solid #ccc;}
.org_content_area_6 .top_1 {float:left;width:100%;margin:0px 0;background-color: #5f5964;border:1px solid #eee}
.org_content_area_6 .top_1 label{width:100%;margin-left:10px;margin-top:4px;height:25px;font-size:14px;font-weight:normal;text-align:left;color:#ffffff;}
.org_content_area_6 label{width:100%;margin-top:4px;margin-left:6px;height:25px;font-size:14px;font-weight:normal;text-align:left;}
.org_content_area_6 input{float:left;width:100%;margin:2px 0;height:80px;font-size:14px;font-weight:normal;text-align:left;}

.org_content_area_7{float:left;width:1600px;margin-left:280px;margin-top:2px;border-top:0px solid #ccc;}
.org_content_area_7 .top_1 {float:left;width:100%;margin:0px 0;background-color: #FFFFFF;border:1px solid #eee}
.org_content_area_7 label{width:100%;margin-top:4px;margin-left:6px;height:25px;font-size:14px;font-weight:normal;text-align:left;}
.org_content_area_7 button{float:left;width:200px;height:50px;margin-left:10px;text-align: center;}

.group_table{
    width:100%;
}
.group_table a{
    float:left;
    width:100%;
    text-align: center;
    font-size:14px;
}

.group_table .p_code{width:60px;}
.group_table .group_name_1{width:70px;}
.group_table .group_name_2{width:70px;}
.group_table .group_name_3{width:60px;}
.group_table .group_name_4{width:135px;}

.group_table .select_com_lack{width:70px;}
.group_table .select_light_cable{width:70px;}
.group_table .select_l3switch{width:70px;}
.group_table .select_l3switch_loc{width:70px;}
.group_table .select_idf{width:60px;}
.group_table .select_utp{width:60px;}
.group_table .in_pic_check{width:60px;}
.group_table .c_t_n_ping_delay_check{width:60px;}
.group_table .dist_check{width:60px;}
.group_table .select_sn{width:60px;}

.group_table .c_t_n_lan1_ping_delay{width:60px;}
.group_table .n_t_c_lan1_ping_delay{width:60px;}
.group_table .n_t_c_lan1_mps{width:60px;}
.group_table .c_t_n_lan1_ping_drop_count{width:60px;}
.group_table .n_t_c_lan2_ping_delay{width:60px;}
.group_table .n_t_c_lan2_mps{width:60px;}
.group_table .dist_lan1{width:55px;}
.group_table .dist_lan2{width:55px;}

.report_table{
    width:100%;
}
.report_table a{
    float:left;
    width:100%;
    text-align: center;
    font-size:14px;
}

.report_table .group_name_1{float:left;width:200px;min-width:200px;}
.report_table .job_count{float:left;width:120px;min-width:120px;}
.report_table .lightcable_today_count{float:left;width:88px;min-width:88px;}
.report_table .lightcable_sum_count{float:left;width:88px;min-width:88px;}
.report_table .idf_today_count{float:left;width:90px;min-width:90px;}
.report_table .idf_sum_count{float:left;width:90px;min-width:8890;}
.report_table .utp_today_count{float:left;width:90px;min-width:90px;}
.report_table .utp_sum_count{float:left;width:90px;min-width:90px;}
.report_table .l3switch_out_count{float:left;width:88px;min-width:88px;}
.report_table .l3switch_in_count{float:left;width:88px;min-width:88px;}
.report_table .l3switch_sum_count{float:left;width:89px;min-width:89px;}
.report_table .completed_today_count{float:left;width:88px;min-width:88px;}
.report_table .completed_sum_count{float:left;width:88px;min-width:88px;}
.report_table .dist_today_count{float:left;width:90px;min-width:90px;}
.report_table .dist_sum_count{float:left;width:90px;min-width:90px;}
.report_table .success_rate{float:left;width:138px;}
.report_table .input_count_com{float:left;width:88px;min-width:88px;}
.report_table .input_count_idf{float:left;width:88px;min-width:88px;}
.report_table .input_count_quality{float:left;width:88px;min-width:88px;}
.report_table .input_count{float:left;width:170px;}
.report_table. tr.active{background-color:#ff00ff;}

.report_content .report_table_1 tr th div span{display:block;}
.report_content .report_table_1 tbody tr td{}
.report_content .report_table_1 tr:hover td{background-color:#eee;cursor:pointer;}
.report_content .report_table_1 tr.active{background-color:#d9edf7;}

.group_content .report_table_1 tr th div span{display:block;}
.group_content .report_table_1 tbody tr td{}
.group_content .report_table_1 tr:hover td{background-color:#eee;cursor:pointer;}
.group_content .report_table_1 tr.active{background-color:#d9edf7;}

.group_content_area_5{float:right;width:7%;margin-right:10px;margin-bottom:2px;border-top:0px solid #ccc;}
.group_content_area_5 a{width:100%;margin-top:4px;margin-left:6px;height:25px;font-size:14px;font-weight:normal;text-align:right;}