.delete_wrap{
    padding:10px;
    width:350px;
}

.delete_wrap .title{
    padding:0;
    margin:0;
    background-color:#999;
    color:#fff;
    text-align:left;
    text-indent:5px;
    line-height:25px;
    font-weight:bold;
}

.delete_wrap .del_confirm_box{border:1px solid #ccc;}

.delete_wrap .del_confirm_box .del_content{
    padding-top:10px;
    padding-bottom:10px;
}

.delete_wrap .del_confirm_box .del_btn_area{
    padding-bottom:10px;
}

.delete_wrap .del_confirm_box .del_btn_area .btn{
    width:50px;
    padding-top:3px;
    padding-bottom:3px;
}

.delete_display_wrap{
    padding:10px;
    width:500px;
}
.delete_display_wrap .title{
    padding:0;
    margin:0;
    background-color:#999;
    color:#fff;
    text-align:left;
    text-indent:5px;
    line-height:25px;
    font-weight:bold;
}
.delete_display_wrap .del_confirm_box{border:1px solid #ccc;}
.delete_display_wrap .del_confirm_box .del_content{
    padding-top:10px;
    padding-bottom:10px;
}
.delete_display_wrap .del_confirm_box .del_btn_area{
    padding-bottom:10px;
}
.delete_display_wrap .del_confirm_box .del_btn_area .btn{
    width:50px;
    padding-top:3px;
    padding-bottom:3px;
}

.delete_display_table{width:100%;margin-bottom:10px;}
.delete_display_table tr:hover{background-color:#d9edf7;}
.delete_display_table tr th{background-color:#e0e0e0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.delete_display_table th{text-align:center;}


.pop_joblist_wrap{
    padding:10px;
    width:600px;
}

.pop_joblist_wrap .title{
    padding:0;
    margin:0;
    background-color:#999;
    color:#fff;
    text-align:left;
    text-indent:5px;
    line-height:25px;
    font-weight:bold;
}

.pop_joblist_wrap .job_confirm_box{border:1px solid #ccc;}
.pop_joblist_wrap .job_confirm_box .job_content{
    padding-top:10px;
    padding-bottom:10px;
}
.pop_joblist_wrap .job_confirm_box .job_btn_area{
    padding-bottom:10px;
}
.pop_joblist_wrap .job_confirm_box .job_btn_area .btn{
    width:50px;
    padding-top:3px;
    padding-bottom:3px;
}

.job_display_table{width:100%;margin-bottom:10px;}
.job_display_table tr:hover{background-color:#d9edf7;}
.job_display_table tr th{background-color:#e0e0e0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.job_display_table th{text-align:center;}


.modal {
    text-align: center;
    padding: 0!important;
    background-color: rgba(0, 0, 0, 0.7);
}

/*.modal:before {*/
/*    content: '';*/
/*    display: inline-block;*/
/*    height: 100%;*/
/*    vertical-align: middle;*/
/*    margin-right: -4px;*/
/*}*/

.modal.in .modal-dialog {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal.fade.ng-isolate-scope.in::-webkit-scrollbar{
    display: none;
}

.modal-dialog >.modal-content {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
}


.modal-dialog >.modal-content .modal-header {
    display: flex;
    /* padding: 15px 0; */
    height: 60px;
    padding: 0;
    align-items: center;
}

.modal-dialog >.modal-content .modal-header .modal-title, .modal-title > small {
    color: #eeeeee;
    font-weight: 400;
}

.modal-dialog >.modal-content .modal-header .modal-title {
    display: flex;
    flex-grow: 1;
    font-size: 24px;

    align-items: center;
}

.modal-title > small {
    margin-left: 22px;
    font-size: 16px;
}

.modal-dialog >.modal-content .modal-body  {
    color: #eeeeee;
    height: 311px;
    margin: 14px 0 20px 0;
    padding: 3px 0 0;
    border-bottom: none;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    height: auto;
}

.modal-dialog .alert_modal{
    font-size: 18px;
    font-weight: bolder;
    background-color: #fff;
    position: relative;
}
.modal-dialog .alert_modal .title {
    position: relative;
    padding: 10px;
    background-color: #3498db;
    background-image: linear-gradient(to right, #3498db 0%, #6f86d6 100%);
}
.modal-dialog .alert_modal .msg{
    padding: 40px;
}
.modal-dialog .alert_modal .fa-close{
    position: absolute;
    right: 10px;
    top: 5px;
}

.modal-footer {
    display: flex;
    min-height: 50px;
    padding: 0;
    border: none;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-start;
}

.modal-footer [class*=btn]:not(:last-child) {
    margin-right: 10px; /* 10 */
}

.modal-close {
    float: right;
    color: #fff;
    background: none;
    border: none;
}

.modal-close:focus {
    outline: none;
}


/* notice modal */
#notice-list-modal >.modal-dialog>.modal-content {
    display: flex;
    flex-direction: column;
    width: 916px;
    max-height: 675px;
    margin: 0;
}

#notice-list-modal >.modal-dialog>.modal-content>.modal-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 587px;
    margin-bottom: 14px;
}

#notice-list-modal .list-wrap {
    flex: 1;
    max-height: 531px;
    margin-bottom: 13px;
    padding-top: 50px;
}

#notice-list-modal .list {
    max-height: 480px;
    overflow: auto;
}

#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table {
    /* height: 100%; */
    margin: 0;
}

#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>thead {
    display: block;
    position: absolute;
    top: 1px;
}

#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>thead>tr>th {
    height: 51px;
    padding: 8px 16px;
    background: #ffffff;
    border-bottom: 1px solid #a6a6a6;
    color: #464646;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
}


#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>tbody>tr>td {
    height: 40px;
    padding: 8px 16px;
    color: #464646;
    font-size: 12px;
    vertical-align: middle;
}

#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>thead>tr>th[col="0"],
#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>tbody>tr>td[col="0"] {
    /* width: 37px;
    padding-left: 15px; */
    width: 45px;
    padding: 8px 4px;
    text-align: center;
}

#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>thead>tr>th[col="1"],
#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>tbody>tr>td[col="1"] {
    width: 696px; /* 138 + 508 +50 */
    padding: 8px 50px 8px 138px;
}

#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>thead>tr>th[col="2"],
#notice-list-modal >.modal-dialog>.modal-content>.modal-body .table>tbody>tr>td[col="2"] {
    width: 177px;
    text-align: center;
}

#notice-list-modal .modal-footer {
    position: absolute;
    width: 200px;
    right: 28px;
    bottom: 0;
}

/* listì˜ paging */
.pagination-wrap {
    display: flex;
}

.pagination-info {
    display: flex;
    align-items: center;
    flex: 1;
    /* float: left; */
    padding-left: 10px;
    font-size: 12px;
}
.pagination-info >.text {
    float: left;
    min-width: 90px;
    line-height: 43px;
    color: #ffffff;
    font-size: 12px;
}
.pagination-info >.actions {
    float: left;
}
.pagination-info >.actions .dropdown-toggle>.text {
    width: 24px;
}

.pagination >li>a, .pagination > li > span {
    /*color: #ffffff;*/
    color: black;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: black;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: auto;
    }
}


.popup_alert{
    position: fixed;
    width: 400px;
    left: 50%;
    margin-left: -200px; /* half of width */
    height: 300px;
    top: 50%;
    margin-top: -150px; /* half of height */
    overflow: auto;

    /* decoration */
    background-color: #686868;
    padding: 1em;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.7);
}


.popup_alert  span {
    width:100%;
    text-align: center;
}

.popup_alert .title button {
    margin-right: 30px;
}

.popup_alert .middle_text span {
    text-align: left;
    margin-left: 5%;
}

.popup_alert .title  {
    float:left;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:#ffffff;
    width: 100%;
    text-align: center;
}

.popup_alert .middle_text  {
    float:left;
    margin-top: 60px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color:#dddddd;
    width: 100%;
}

.popup_alert .line{
    width:90%;
    height:2px;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:50px;
}


.popup_alert .bottom  {
    float:left;
    margin-top: 20px;
    width: 150px;
    margin-left: 100px;
}

.popup_alert .bottom button{
    font-size: 16px;
    font-weight: bold;
    color:#dddddd;
    width: 150px;
    margin-top: 50px;
    background-color: #4d4d4d;
}

.popup_alert .bottom button:hover{background-color: #222222;}

.popup_content_table{width:100%;margin:5px 5px}
.popup_content_table tr th{
    padding:0;
    color:#000;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-indent:5px;
    text-align:left;
    font-size:14px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 2px;
    background-color: #f1f1f1;
}

.popup_content_table tr td{text-indent:5px;vertical-align:center;height: 30px;min-width: 50px;}
.popup_content_table tr td .editable-wrap .editable-buttons{text-indent:0;}
.popup_content_table tr td a {color:#888888;font-weight: bold;font-size: 12px;}
.popup_content_table tr td input {width:20px;height:20px;}
.popup_content_table tr:nth-child(even)  { background-color: #f1f1f1; }
.popup_content_table tr:nth-child(odd)  { background-color: #f1f1f1; }
.popup_content_table tr:hover{background-color: #b1b1b1;}
.popup_content_table tr.border_line{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-bottom:1px solid #eee;
}

.sub_content_table_2{float:left;width:100%}
.sub_content_table_2 tr th{
    padding:0;
    color:#000;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-indent:5px;
    text-align:left;
    font-size:16px;
    font-weight: bold;
    height: 44px;
    margin-bottom: 2px;
    background-color: #ffffff;
}
.sub_content_table_2 tr td{text-indent:5px;vertical-align:center;height: 44px;min-width: 50px;}
.sub_content_table_2 tr td .editable-wrap .editable-buttons{text-indent:0;}
.sub_content_table_2 tr td a {color:#888888;font-weight: bold;font-size: 14px;}
.sub_content_table_2 tr:nth-child(even)  { background-color: #ffffff; }
.sub_content_table_2 tr:nth-child(odd)  { background-color: #f1f1f1; }
.sub_content_table_2 tr:nth-child(18)  { background-color: #888888;color:#ffffff;}
.sub_content_table_2 tr:nth-child(18)  a{color:#ffffff;}
.sub_content_table_2 tr:hover{background-color: #d1d1d1;}
.sub_content_table_2 tr.border_line{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-bottom:1px solid #eee;
}
.sub_content_table_2 .ng-scope .selected {
    background-color:#ff00ff;
}

.ng-table-pager{
    width: 70%;
    min-width: 1000px;
    margin: 0 auto;
    text-align: center;
    table-layout: fixed;
}

.table > tbody > tr > th {
    padding: 0px;
}

.bottom_area {float:left;width:1%;margin-top:50px;margin-left:5%;min-height: 200px;line-height: 40px;border: 0px solid #ffffff;}

.top_area {float:left;width:90%;margin-top:50px;margin-left:5%;min-height: 40px;line-height: 40px;border: 0px solid #ffffff;}
.top_area .top_1 {float:left;width:10%;color: #ffffff;font-weight: bold;font-size: 16px;border: 1px solid #666666;min-width: 100px;}
.top_area .top_2 {float:left;width:40%;color: #ffffff;font-weight: bold;font-size: 16px;text-align: right;border: 0px solid #ffffff;}
.top_area .top_2 label{float:right;}
.top_area .top_3 {float:left;width:40%;text-align: left;border: 0px solid #ffffff;padding-left: 20px;}
.top_area .top_3 input{float:right;}


.popup_right_area_line {float:left;width:80%;border: 0px solid #999999;height: 50px;margin-left:5%;
    border-top:0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-bottom: 1px solid #f1f1f1;
}

.popup_right_area_line .right_item_1{float:left;width:50%;border: 0px solid #999999;height: 30px;margin-top: 15px;
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-bottom: 0px solid #ffffff;
}

.popup_right_area_line .right_item_2{float:left;width:18%;border: 0px solid #999999;height: 30px;margin-top: 15px;margin-left:5px;
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-bottom: 0px solid #ffffff;
}

.popup_right_area_line .right_item_3{float:left;width:5%;border: 0px solid #999999;height: 30px;margin-top: 15px;
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-bottom: 0px solid #ffffff;
}

.popup_right_area_line label{font-weight: bold;font-size: 14px;color:#f1f1f1;text-align: center;margin-top:3px;}
.popup_right_area_line .check_box{
    display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

#canvas{
    opacity: 0;
    position: absolute;
    left: 5%;
    z-index: 100;
    width: 90%;
    height: 96%;
}

.popup_tool{
    text-align: center;
}
.popup_tool li{
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}
.popup_tool li i{
    color: #000;
}

.image_button{
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: unset;
}

.popup_new_insert {
    margin: 0 auto;
    height: 90%;
    border: 1px solid;
    overflow: auto;
    background-color: #cccccc;
    box-sizing: border-box;
    font-size: 20px;
    min-width: 700px;
}

.popup_new_insert .title{
    position: relative;
    font-weight: bolder;
    height: 50px;
    padding-top: 10px;
}

.popup_new_insert .title .fa-close{
    position: absolute;
    right: 20px;
    top: 13px;
}

.popup_new_insert_table{
    margin: 25px auto 0 auto;
    border-collapse: separate;
    border-spacing: 40px 15px;
}

.popup_new_insert_table td.middle_text {
    text-align: left;
    font-size: 1.8rem;
}
.popup_selector_make_tool{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px dashed #ffffff;
}

.popup_new_insert_table select,
.popup_new_insert_table input[type="text"] {
    background-color: unset;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: unset;
    width: 100%;
    box-shadow: none;
    font-size: 14px;
    padding: 6px 12px;
}


.popup_new_insert_table .item_image{
    width: 180px;
}

.popup_new_insert_table .image_select{
    border: 2px outset;
    background-color: #999;
    font-size: 14px;
    padding: 6px 4px;
    color: #000;
}


.popup_review{
    width: 100%;
}

.popup_review_table{
    margin: 25px auto 0 auto;
    border-collapse: separate;
    border-spacing: 40px 50px;
    font-size: 16px;
}

.popup_review_table .popup_review_column{
    width: 20%;
    font-weight: bolder;
}

.popup_review_table img{
    width: 100%;
    border: 1px solid #fff;
}

.popup_review_table td {
    border-bottom: 1px solid #fff;
}

.popup_new_insert_table .select_file_btn{
    overflow: hidden;
    padding: 10px;
    border: 1px solid #fff;
}

.popup_new_insert .bottom button{
    border-radius: 50px !important;
}

.list_popup_close{
    font-size: 2.5rem;
    color: #f2f2f2;
    position: absolute;
    z-index: 999;
    right: -20px;
}

.popup_new_insert_table .insert_img{
    border: 1px solid #e0e0e0;
    width: 302px;
    height: 300px;
}

/*.active{*/
/*    border-bottom: 1px solid;*/
/*    padding-bottom: 5px;*/
/*}*/