/* Color Theme Swatches in Hex */
.Different-clothes-on-a-hanger,-lifestyle-concept-1-hex { color: #D99CA1; }
.Different-clothes-on-a-hanger,-lifestyle-concept-2-hex { color: #F288A4; }
.Different-clothes-on-a-hanger,-lifestyle-concept-3-hex { color: #F24484; }
.Different-clothes-on-a-hanger,-lifestyle-concept-4-hex { color: #F2F2F2; }
.Different-clothes-on-a-hanger,-lifestyle-concept-5-hex { color: #BF988F; }

/* Color Theme Swatches in RGBA */
.Different-clothes-on-a-hanger,-lifestyle-concept-1-rgba { color: rgba(216, 156, 161, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-2-rgba { color: rgba(242, 135, 164, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-3-rgba { color: rgba(242, 67, 131, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-4-rgba { color: rgba(242, 242, 242, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-5-rgba { color: rgba(191, 152, 143, 1); }

/* Color Theme Swatches in HSLA */
.Different-clothes-on-a-hanger,-lifestyle-concept-1-hsla { color: hsla(354, 44, 73, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-2-hsla { color: hsla(343, 80, 74, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-3-hsla { color: hsla(337, 87, 60, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-4-hsla { color: hsla(0, 0, 95, 1); }
.Different-clothes-on-a-hanger,-lifestyle-concept-5-hsla { color: hsla(11, 27, 65, 1); }