 /* loading */
.loading-container {
    position: relative;
}

.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}

.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}

/* etc - setting tab*/
.setting-tab {
    padding: 10px;
    overflow: auto;
}

.setting-tab div div {
    height: 34px;
}

.red {
    color: red;
}

.select2-container {
    width: 30%;
    margin:5px;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: progid:none !important;
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel .carousel-indicators {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

.item-wrapper a {
    display: inline !important;
}

.item-wrapper {
    position: relative;
}

.item-wrapper form {
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 5px;
    display: inline-block;
    left: 50%;

    /* half the width */
    margin-left: -110px;
    padding: 7px 7px 14px;
    position: absolute;
    top: -55px;
    z-index: 101;
}

#range{
    margin-top:7px;
}

.item-wrapper form:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #AAA;
    position: absolute;
    bottom: -10px;
    left: 100px;
}

.item-wrapper form:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFF;
    position: absolute;
    bottom: -9px;
    left: 101px;
}

.modal-dialog {
    width:100%;
    height:0px;
    text-align:center;
}

.modal-content {
    display: inline-block;
}

/* status css */
.status_1 {
    color: #ed9c28;
    cursor:pointer;
}

.status_2 {
    color: #d43f3a;
    cursor:pointer;
}

.status_-1 {
    color: #ccc;
    cursor:pointer;
}