.item_add{
    max-width: 1280px;
}
.item_add > form > .item_add_list{
    /*display: flex;*/
}
.item_add > form > .item_add_list > li:nth-child(1){
    border-top: solid 0.3px #707070 !important;
}
.item_add > form > .item_add_list > li:nth-child(2n+1){
    width: 100%;
    height: 50px;
    padding: 0 0 0 49px;
    border: solid 0.3px #707070;
    border-top: none;
    background-color: #e6e6e6;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.18px;
    text-align: left;
    color: #121212;
}
.item_add > form > .item_add_list > li:nth-child(2n){
    width: 100%;
    height: 380px;
    background-color: #ffffff;
    border: solid 0.3px #707070;
    border-top: none;
    padding: 50px 0 34px 47px;
}

.item_add > form > .item_add_list > .li_info_add{
    display: flex;
}
.item_add > form > .item_add_list > .li_info_add > .item_add_img{
    display: inline-block;
    width: 280px;
    height: 280px;
    margin-right: 64px;
    background: url("../images/common/no_item.png") no-repeat 100% 100%;
}
.item_add > form > .item_add_list > .li_info_add > table{
    display: inline-block;
    width: 515px;
    border-collapse: separate;
    border-spacing: 0 14px;
}
.item_add > form > .item_add_list > .li_info_add > table tr > th{
    width: 115px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.17px;
    text-align: left;
    color: #121212;
}
.item_add > form > .item_add_list > .li_info_add > table tr > td{
    width: 400px;
}
.item_add > form > .item_add_list > .li_info_add > table tr > td > input[type="text"]{
    width: 100%;
    height: 30px;
    border: solid 0.4px #b4b4b4;
    font-size: 12px;
    letter-spacing: -0.14px;
    padding-left: 9px;
}
.item_add > form > .item_add_list > .li_info_add > table tr > td > .item_add_code,
.item_add > form > .item_add_list > .li_info_add > table tr > td > .item_add_price{
    width: 165px !important;
}
.item_add > form > .item_add_list > .li_info_add > table tr > td > .item_add_explanation{
    width: 305px !important;
}
.item_add > form > .item_add_list > .li_info_add > table tr > td .item_add_load_btn{
    width: 133.4px;
    height: 30px;
    border: solid 0.4px #4d20a3;
    background-color: #ffffff;
    font-size: 12px;
    letter-spacing: -0.14px;
    text-align: center;
    color: #4d20a3;
}
.item_add > form > .item_add_list > .li_info_add > table tr > td .item_add_load{
    font-size: 10px;
    letter-spacing: -0.12px;
    text-align: left;
    color: #a5a5a5;
}
.item_add > form > .item_add_submit{
    width: 100%;
    height: 108px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.item_add > form > .item_add_submit > div{
    width: 100%;
    max-width: 1280px;
    text-align: right;
    margin-left: 30px;
}
.item_add > form > .item_add_submit > div > button[type="submit"]{
    width: 165px;
    height: 50px;
    background-color: #322b4d;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
    float: right;
}