.video_list{
    display: block;
    width: 100%;
    max-width: 1280px;
    height: 476px;
    overflow: auto;
    border: solid 0.3px #707070;
    background-color: #ffffff;
    padding: 0 15px;
}
.video_list > div{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.video_list > div > span:nth-child(1){
    font-size: 14px;
    letter-spacing: -0.17px;
    text-align: left;
    color: #6b6b6b;
    position: absolute;
    left: 0;
}
.video_list > div > .video_list_search{
    position: relative;
    width: 300px;
    height: 30px;
    margin: 0 17px 0 0;
}
.video_list > div > .video_list_search > input[type="text"]{
    width: 100%;
    height: 30px;
    padding: 0 0 0 10px;
    border: solid 0.4px #b4b4b4;
    background-color: #ffffff;
}
.video_list > div > .video_list_search > button[type="button"]{
    position: absolute;
    right: 0;
    width: 50px;
    height: 30px;
    border: solid 0.4px #a5a5a5;
    background-color: #a5a5a5;
}
.video_list > div > .video_list_search_guide{
    font-size: 14px;
    letter-spacing: -0.17px;
    text-align: left;
    color: #6b6b6b;
}
.video_list > .table-library{
    width: 100%;
}
.video_list > .table-library > thead > tr{
    width: 1245px;
    height: 50px;
    line-height: 50px;
    border: solid 0.3px #b4b4b4;
    background-color: #f7f7f7;
}
.video_list > .table-library > tbody > tr{
    width: 1245px;
    border: solid 0.3px #b4b4b4;
    background-color: #ffffff;
}
.video_list > .table-library > thead > tr > th {
    font-size: 14px;
    letter-spacing: -0.17px;
    text-indent: 6px;
    text-align: left;
    color: #6b6b6b;
}
.video_list > .table-library > tbody > tr > td{
    vertical-align: middle;
    font-size: 14px;
    line-height: 2;
    letter-spacing: -0.17px;
    color: #000000;
}
.video_list > .table-library > tbody > tr > td > .video_list_image{
    width: 110px;
    height: 75px;
    border: solid 0.3px #cbcbcb;
    vertical-align: middle;
    margin: 10px 0;
}
.video_list > .table-library > tbody > tr > .video_list_btn > button[type="button"]{
    width: 50px;
    height: 26px;
    border-radius: 6px;
    border: solid 0.5px #a5a5a5;
    background-color: #ffffff;
    font-size: 12px;
    letter-spacing: -0.14px;
    color: #a5a5a5;
    margin-top: 4px;
}
@media screen and (max-width: 1366px){
    .video_list_explanation{
        display: none;
    }
}