.video_play_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.video_play_canvas{
    position: relative;
}

#canvas_1{
    position: absolute;
    width: 640px;
    height: 480px;
    left: 0;
}
.play_btn_line{
    text-align: center;
}
.play_btn_line button{
    height: 36px;
    border-radius: 50px !important;
    padding: 0px 22px;
}

.video_play_undefined{
    font-size: 24px;
    text-align: center;
}