<i manage-nav></i>
<section class="content">
    <h1 class="title">대시보드</h1>
    <div class="dashboard">
        <div class="dashboard-left">
            <div class="contents_area">
                <h1 class="title">
                    내 동영상 요약
                    <a>더보기</a>
                </h1>
                <table class="my_video_summary">
                    <tr>
                        <td>일자</td>
                        <td>동영상 시청 횟수</td>
                        <td>등록된 상품</td>
                        <td>상품 클릭 횟수</td>
                    </tr>
                    <tr>
                        <td>2021-01-01</td>
                        <td>23,045</td>
                        <td>205</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>최근 7일 합계</td>
                        <td>125,041</td>
                        <td>307</td>
                        <td>205</td>
                    </tr>
                    <tr>
                        <td>이번 달 합계</td>
                        <td>507,017</td>
                        <td>424</td>
                        <td>563</td>
                    </tr>
                </table>

            </div>
            <div class="contents_area">
                <h1 class="title">
                    상품 집계
                </h1>
                <ul class="product_aggregation">
                    <li>
                        <div>전체 상품</div>
                        <div>12,800</div>
                        <div>+ 100</div>
                    </li>
                    <li>
                        <div>상품 조회</div>
                        <div>234,570</div>
                        <div>+ 157,045</div>
                    </li>
                    <li>
                        <div>상품 구매 수</div>
                        <div>257</div>
                        <div>+ 70</div>
                    </li>
                </ul>
            </div>
            <div class="contents_area">
                <h1 class="title">
                    <button type="button" class="selected">가이드</button>
                    <button type="button">공지사항</button>
                    <a>더보기</a>
                </h1>
                <div class="Boshow_guide">
                    Boshow 통합 관리 서비스 가이드를 준비중입니다.
                </div>
            </div>
        </div>
        <div class="dashboard-right">
            <div class="contents_area">

            </div>
            <div class="contents_area">
                <h1 class="title">
                    상품 순위
                    <a>클릭 횟수</a>
                </h1>
                <ul class="item_ranking">
                    <li>1</li>
                    <li>
                        <img src="../images/" alt="">
                    </li>
                    <li>
                        <p>URNAVY</p>
                        <p>Sheer Scarf Shirt / Blue</p>
                    </li>
                    <li>1,057</li>
                </ul>
                <ul class="item_ranking">
                    <li>2</li>
                    <li>
                        <img src="../images/" alt="">
                    </li>
                    <li>
                        <p>URNAVY</p>
                        <p>Sheer Scarf Shirt / Blue</p>
                    </li>
                    <li>945</li>
                </ul>
                <ul class="item_ranking">
                    <li>3</li>
                    <li>
                        <img src="../images/" alt="">
                    </li>
                    <li>
                        <p>URNAVY</p>
                        <p>Sheer Scarf Shirt / Blue</p>
                    </li>
                    <li>547</li>
                </ul>
                <ul class="item_ranking">
                    <li>4</li>
                    <li>
                        <img src="../images/" alt="">
                    </li>
                    <li>
                        <p>URNAVY</p>
                        <p>Sheer Scarf Shirt / Blue</p>
                    </li>
                    <li>323</li>
                </ul>
                <ul class="item_ranking">
                    <li>5</li>
                    <li>
                        <img src="../images/" alt="">
                    </li>
                    <li>
                        <p>URNAVY</p>
                        <p>Sheer Scarf Shirt / Blue</p>
                    </li>
                    <li>102</li>
                </ul>
            </div>
        </div>
    </div>
</section>