<div class="Find_module">
    <p class="title">비밀번호 찾기</p>
    <p class="highlight">휴대폰 본인 인증과 이메일 인증을 통해 비밀번호를 찾을 수 있습니다.</p>
    <p>본인인증 시 제공되는 정보는 해당 인증기관에서 직접 수집하며, 인증 이외의 용도로 이용 또는 저장하지 않습니다.</p>

    <div class="auth_way_select">
        <span class="auth_box auth_box_pw">
            <p class="title">휴대폰 본인 인증</p>
            <p>회원정보에 등록한 휴대전화 번호와 입력한 휴대전화 번호가 <br /> 같아야 인증번호를 받을 수 있습니다.</p>
            <input type="text" class="invisible">
            <input type="text" class="invisible">
            <button type="button">인증하기</button>
        </span>
        <span class="auth_box auth_box_pw">
            <p class="title">임시 비밀번호 발급</p>
            <input type="text" class="" placeholder="이름을 입력해주세요.">
            <input type="text" class="" placeholder="아이디를 입력해주세요.">
            <input type="email" class="" placeholder="이메일을 입력해주세요.">
            <button type="button" ng-click="go_find_pw_email()">이메일로 보내기</button>
        </span>
    </div>
</div>
<!--<button type="button" class="join_btn" ng-click="login()">로그인하기</button>-->

<div class="footer">
<!--    WIXI 이미지 넣기-->
    <img src="images/common/Boshow.svg">
    <p>
        <a href="">개인정보 처리 방침</a>
        <a href=""><strong>제휴문의</strong></a>
    </p>
    <p>
        서울시 금천구 가산디지털1로 83, 파트너스타워1차 306호
    </p>
    <p>
        <span>TEL : 02-3775-4015</span>
        <span>FAX : 02-3775-4014</span>
        <span>E-mail : pnwat@pnwat.com</span>
    </p>
    <p>
        Copyright PNWAT Co., Ltd.All rights reserved.
    </p>
</div>