<div class="title">
    <h1>비밀번호 찾기</h1>
    <p><img src="../images/common/email.PNG" class="email_img"></p>
</div>

<div class="email_auth_module">
    <p class="title">이메일로 임시비밀번호를 보냈습니다.<br />
    확인 후 새 비밀번호로 변경하세요.</p>
    <p>입력하신 pnw**@pnwat.com으로 임시 비밀번호가 발송됩니다.<br />
        전송량이 많은 경우 이메일 전송이 지연될 수 있습니다.</p>
</div>
<button type="button" class="join_btn find_pw_email_btn" ng-click="go_login()">로그인</button>

<div class="footer">
<!--    WIXI 이미지 넣기-->
    <img src="images/common/Boshow.svg">
    <p>
        <a href="">개인정보 처리 방침</a>
        <a href=""><strong>제휴문의</strong></a>
    </p>
    <p>
        서울시 금천구 가산디지털1로 83, 파트너스타워1차 306호
    </p>
    <p>
        <span>TEL : 02-3775-4015</span>
        <span>FAX : 02-3775-4014</span>
        <span>E-mail : pnwat@pnwat.com</span>
    </p>
    <p>
        Copyright PNWAT Co., Ltd.All rights reserved.
    </p>
</div>