<div class="title">
    <h1>회원가입 완료</h1>
    <p><img src="../images/common/join_level2.PNG"></p>
</div>

<div class="Success_module">
    <p class="title">환영합니다!</p>
    <p>user name님, 회원가입을 축하드립니다.<br />
        WIXI 통합관리에 가입하신 ID는 <span>email@pnwat.com</span> 입니다.</p>
</div>
<button type="button" class="join_btn" ng-click="go_login()">로그인하기</button>

<div class="footer">
<!--    WIXI 이미지 넣기-->
    <img src="images/common/Boshow.svg">
    <p>
        <a href="">개인정보 처리 방침</a>
        <a href=""><strong>제휴문의</strong></a>
    </p>
    <p>
        서울시 금천구 가산디지털1로 83, 파트너스타워1차 306호
    </p>
    <p>
        <span>TEL : 02-3775-4015</span>
        <span>FAX : 02-3775-4014</span>
        <span>E-mail : pnwat@pnwat.com</span>
    </p>
    <p>
        Copyright PNWAT Co., Ltd.All rights reserved.
    </p>
</div>