<i main-header />
<i manage-nav></i>
<section id="content" class="content" data-content-provider-key="akj2995">
    <section id="contents" class="container module-default" tabindex="1" style="overflow: hidden; outline: none;">
        <div class="content__header content__header__library">
            <h3 class="content__header__title">
                <span id="library-title">사용자 관리</span>
            </h3>
            <div class="content__header__action">
<!--                <div class="library__search__wrap">-->
<!--                    <input type="text" placeholder="검색" id="form-q" class="library__search" autocomplete="off" value="">-->
<!--                </div>-->
                <div id="form-per-page" class="dropdown">
                    <button class="btn dropdown-toggle btn__per-page" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">{{limit_video}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="js-dropdown-per-page" data-dropdown-value="5"><a ng-click="limitValue(5)" class="dropdown-item">5</a></li>
                        <li class="js-dropdown-per-page" data-dropdown-value="10"><a ng-click="limitValue(10)" class="dropdown-item">10</a></li>
                        <!--                <li class="js-dropdown-per-page" data-dropdown-value="20"><a href="" class="dropdown-item">20</a></li>-->
                        <li class="js-dropdown-per-page" data-dropdown-value="20"><a ng-click="limitValue(15)" class="dropdown-item">15</a></li>
                    </ul>
                </div>
            </div><!-- content__header__action -->
        </div><!-- content__header -->

        <section class="module">
            <section id="library-tabs">
                <table class="table-library" ng-table="userListParams">
                    <colgroup>
                        <col style="width: 4%">
                        <col style="width: 4%">
                        <col style="width: 12%">
                        <col style="width: 20%">
                        <col style="width: 15%">
                        <col style="width: 15%">
                        <col style="width: 15%">
                        <col style="width: 15%">
<!--                        <col style="width: 1px;">-->
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="js-table-checkbox">
                            <div class="form-checkbox">

                            </div>
                        </th>
                        <th>번호</th>
                        <th class="library__td__title">
                            <a href="" id="btn-reorder-by-title" class="btn__sort"> 이름
<!--                                <span class="icon-triangle-wrap">-->
<!--                                    <i class="fa fa-sort-up"></i>-->
<!--                                    <i class="fa fa-sort-down"></i>-->
<!--								</span>-->
                            </a>
                        </th>
                        <th class="library__td__category"> 아이디 </th>
                        <th class="library__td__channel">권한:AI</th>
                        <th class="library__td__channel">권한:통계</th>
                        <th class="library__td__channel">권한:상품</th>
                        <th class="library__td__channel">권한:계정</th>

                    </tr>
                    </thead>
                    <!-- 컨텐츠 영역 -->
                    <tbody>
                        <tr class="ng-scope" ng-repeat="user in $data | limitTo: limit_value" ng-if="user.user_id != undefined">
                            <td class="library__td__checkbox">
                                <div class="form-checkbox">
                                    <input type="checkbox" id="checkbox-20200519-pbg5cyca-47" class="ng-pristine ng-valid" ng-model="checkedItems[user.idx]">
                                    <label for="checkbox-20200519-pbg5cyca-47"></label>
                                </div>
                            </td>
                            <td style="text-align: center">{{user.idx || 'Empty'}}</td>

                            <td class="library__td__title">
                                <div class="td__title__wrap ng-binding" style="text-align: center">{{user.user_name || 'Empty'}}</div>
                            </td>
                            <td class="library__td__category" style="text-align: center">{{user.user_id || 'Empty'}}</td>

                            <td class="library__td__category" style="text-align: center"><i class="fa fa-toggle-on fa-rotate-180" ng-class="getRoleInfo(user.idx, 1)" ng-click="roleChange(user.idx, 1)"></i></td>
                            <td class="library__td__category" style="text-align: center"><i class="fa fa-toggle-on fa-rotate-180" ng-class="getRoleInfo(user.idx, 2)" ng-click="roleChange(user.idx, 2)"></i></td>
                            <td class="library__td__category" style="text-align: center"><i class="fa fa-toggle-on fa-rotate-180" ng-class="getRoleInfo(user.idx, 3)" ng-click="roleChange(user.idx, 3)"></i></td>
                            <td class="library__td__category" style="text-align: center"><i class="fa fa-toggle-on fa-rotate-180" ng-class="getRoleInfo(user.idx, 4)" ng-click="roleChange(user.idx, 4)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
<!--        <div class="manage_wrap">-->
<!--            <div class="user_manage_area">-->
<!--------------------------------------------------------------------------------------------------------------------------------------------->
<!--                <table ng-table="userListParams" class="user_manage_table">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th ng-repeat="head in user_table_headers" class="{{head.class_name}}"-->
<!--                            ng-class="{'sortable': head.sortable}"-->
<!--                            ng-click="head.sortable? userListParams.sorting(head.field, userListParams.isSortBy(head.field, 'asc')?'desc':'asc'):''">-->
<!--                            <div>-->
<!--                                <span>{{head.name}}</span> <i ng-if="header.sortable" class="sortable fa"-->
<!--                                                              ng-class="{'fa-sort-asc': userListParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': userListParams.isSortBy(header.field, 'desc')}"></i>-->
<!--                            </div>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr ng-repeat="user in $data" ng-if="user.user_id != undefined" ng-click="onSelectFile(user)">-->
<!--                        <td class="no">-->
<!--                            {{user.idx || 'Empty'}}-->
<!--                        </td>-->
<!--                        <td class="item-wrapper">-->
<!--                            &lt;!&ndash;                        <a href="" text="item.user_id">&ndash;&gt;-->
<!--                            {{user.user_id || 'Empty'}}-->
<!--                            &lt;!&ndash;                        </a>&ndash;&gt;-->
<!--                        </td>-->
<!--                        <td class="item-wrapper">-->
<!--                            &lt;!&ndash;                        <a href="" text="item.user_name">&ndash;&gt;-->
<!--                            {{user.user_name || 'Empty'}}-->
<!--                            &lt;!&ndash;                        </a>&ndash;&gt;-->
<!--                        </td>-->
<!--                        <td class="del">-->
<!--                            <button class="" ng-click="onUserModify(user.idx)">수정</button>-->
<!--                            /-->
<!--                            <button class="" ng-click="onUserDelete(user.idx)">삭제</button>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--------------------------------------------------------------------------------------------------------------------------------------------->
<!--            </div>-->
            <div class="add_button">
                <button class="btn btn-primary" type="submit" ng-show="checkedItems.length > 0" ng-click="check_user()">편집</button>
                <button class="btn btn-primary" type="submit" ng-click="user_add()">사용자추가</button>
            </div>


            <div style="width: 250px; height: 125px; background: white; border-radius: 15%; position: absolute; left: 50%; top: 50%; border: 1px dotted black; padding: 20px;" ng-show="popupVisibility">
                <i class="fa fa-toggle-on" ng-class="roleItemList[0]" ng-click="changeRoleListItem(0)">{{roleItemList[0]}}</i>
                <i class="fa fa-toggle-on" ng-class="roleItemList[1]" ng-click="changeRoleListItem(1)">{{roleItemList[1]}}</i>
                <i class="fa fa-toggle-on" ng-class="roleItemList[2]" ng-click="changeRoleListItem(2)">{{roleItemList[2]}}</i>
                <i class="fa fa-toggle-on" ng-class="roleItemList[3]" ng-click="changeRoleListItem(3)">{{roleItemList[3]}}</i>
                <button ng-click="roleSelected()">ok</button>
            </div>
<!--        </div>-->
    </section>
</section>