<div class="alert_modal">
    <div class="title">
        임시 비밀번호 발급
    </div>
    <div class="msg">
        <form method="post" name="newPasswordForm" ng-submit="temporaryPassword()">
            <table class="popup_new_password_table">
                <tr>
                    <td>이름:</td>
                    <td><input type="text" ng-model="data.user_name"></td>
                </tr>
                <tr>
                    <td>이메일:</td>
                    <td><input type="text" ng-model="data.user_id"></td>
                </tr>
            </table>
<!--            <div>이름:<input type="text" ng-model="data.user_name"></div>-->
<!--            <div>이메일:<input type="text" ng-model="data.user_id"></div>-->
            <div style="margin-top: 10px;">
                <button type="submit" class="btn">임시 비밀번호 발급</button>
                <button type="button" ng-click="close()" class="btn">취소</button>
            </div>
        </form>
    </div>
</div>