<i manage-nav />
<section class="content">
    <h1 class="title">동영상 관리</h1>
    <div class="video_list">
        <div>
            <span>전체 30개</span>
            <span class="video_list_search">
                <input type="text" placeholder="Search" ng-model="search_video_title"/>
                <button type="button">
                    <img src="../images/common/icons/ic-search.png" alt="">
                </button>
            </span>
            <span class="video_list_search_guide">조회순 ▼</span>
        </div>
        <table class="table-library">
            <colgroup>
                <col width="100px">
                <col width="120px">
                <col width="300px">
                <col width="100px">
                <col width="100px">
                <col width="100px">
                <col width="100px">
                <col width="100px">
                <col width="">
                <col width="70px">
            </colgroup>
            <thead>
            <tr>
<!--                <th class="js-table-checkbox">-->
<!--                    <div class="form-checkbox">-->
<!--                        <ui-select-all items="video_list" prop="isSelected"-->
<!--                                       id="library-check-all"-->
<!--                                       ng-click="video_check_all(video_list)"></ui-select-all>-->
<!--                        <label for="library-check-all"></label>-->
<!--                    </div>-->
<!--                </th>-->
                <th>번호</th>
                <th>동영상</th>
                <th></th>
                <th>영상길이</th>
                <th>조회수</th>
                <th>공개 상태</th>
                <th>카테고리</th>
                <th>등록자</th>
                <th>날짜 ↑</th>
                <th></th>
            </tr>
            </thead>
            <!-- 컨텐츠 영역 -->
            <tbody>
                <tr ng-if="video_list.length == 0">
                    <td colspan="6">등록하신 영상이 존재하지 않습니다</td>
                </tr>
                <tr ng-repeat="item in video_list | filter:search_video_title"
                    id="library__tr__video__list__line__{{item.idx}}"
                    ng-click="video_library_list(item, $event)" class="library__tr">
<!--                    <td id="library__td__checkbox__{{item.idx}}">-->
<!--                        <div class="form-checkbox">-->
<!--                            <input type="checkbox" id="checkbox-20200519-pbg5cyca-{{item.idx}}"-->
<!--                                   ng-model="item.isSelected" ng-click="video_check_one(item)">-->
<!--                            <label for="checkbox-20200519-pbg5cyca-{{item.idx}}"></label>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>123</td>
                    <td>
                        <img id="{{item.video_url.substr(32, 11)}}"
                             ng-src="https://img.youtube.com/vi/{{item.video_url.substr(32, 11)}}/hqdefault.jpg"
                             alt="썸네일" ng-click="videoDetails(item, 0)" class="video_list_image"/>
                    </td>
                    <td>
                        <p>{{item.video_title}}</p>
                        <p class="video_list_explanation">{{item.video_explanation}}</p>
                    </td>
                    <td>{{item.video_duration}}</td>
                    <td>458</td>
                    <td>공개</td>
                    <td>스포츠/취미</td>
                    <td>김ㅇㅇ</td>
                    <td>
                        <p>2021-01-14-목</p>
                        <p>13:05:04</p>
                    </td>
                    <td class="video_list_btn">
                        <button type="button">수정</button>
                        <button type="button">삭제</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!--    <section id="content" class="content" data-content-provider-key="akj2995">-->
<!--        <section id="contents" class="container module-default" tabindex="1" style="overflow: hidden; outline: none;">-->
<!--            <div class="content__header content__header__library">-->
<!--                <h3 class="content__header__title">-->
<!--                    <span id="library-title">상품 목록</span>-->
<!--                    &lt;!&ndash;					<span id="leased-channel-title" style="display: none;">대여한 채널</span>&ndash;&gt;-->
<!--                    &lt;!&ndash;					<span id="additional-title" style="display: inline-block;"></span>&ndash;&gt;-->
<!--                    <div class="library__search__wrap library__search__mobile__wrap" style="margin-left: 8px">-->
<!--                        <input type="text" placeholder="검색" class="library__search" ng-model="search_video_title" autocomplete="off" value="">-->
<!--                    </div>-->
<!--                </h3>-->
<!--                <div class="content__header__action">-->
<!--                </div>&lt;!&ndash; content__header__action &ndash;&gt;-->
<!--            </div>&lt;!&ndash; content__header &ndash;&gt;-->


<!--            <section class="new_module">-->
<!--                <section id="library-tabs">-->
<!--                    <section style="display: none;"></section>-->
<!--                    <section id="library-table-wrap" style="overflow-y: auto;">-->

<!--                        <div id="module-library-header" class="module__library__header module-default">-->
<!--                            <div class="btn-toolbar pull-left">-->
<!--                                <div id="form-per-page" class="dropdown">-->
<!--&lt;!&ndash;                                    <button class="btn dropdown-toggle btn__per-page" style="width: 150px;" data-toggle="dropdown" aria-haspopup="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                            aria-expanded="false">{{selectedFilter.text}}&ndash;&gt;-->
<!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
<!--                                    <button class="btn" ng-click="setFilterItem(FilterItems[0])">{{FilterItems[0].text}}</button>-->
<!--                                    <button class="btn" ng-click="setFilterItem(FilterItems[1])">{{FilterItems[1].text}}</button>-->
<!--                                    <div class="library__search__wrap" style="float:left; margin-left: 8px">-->
<!--                                        <input type="text" placeholder="검색" id="form-search" class="library__search" ng-model="search_video_title" autocomplete="off" value="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="btn-toolbar pull-right">-->
<!--                                <div class="btn-group">-->
<!--                                    <button type="button" id="btn-enable-all" class="btn tooltip-message"-->
<!--                                            ng-class="selectedFilter.itemValue == 0? disabled: this"-->
<!--                                            data-original-title="활성화하기" href=""-->
<!--                                            ng-click="video_enable(modify_video_idx, modify_disabled)">-->
<!--                                        <i class="fa fa-unlock"></i><span class="btn-label-hidden">활성화하기</span>-->
<!--                                    </button>-->
<!--                                    <button type="button" id="btn-disable-all" class="btn tooltip-message"-->
<!--                                            data-original-title="비활성화하기" href=""-->
<!--                                            ng-click="video_disable(modify_video_idx, modify_enabled)">-->
<!--                                        <i class="fa fa-lock"></i><span class="btn-label-hidden">비활성화하기</span>-->
<!--                                    </button>-->
<!--                                </div>-->

<!--                                <div class="btn-group">-->
<!--                                    <button type="button" id="btn-delete-all" class="btn tooltip-message"-->
<!--                                            data-confirm-message="삭제하시겠습니까?" data-original-title="삭제하기"-->
<!--                                            ng-click="drop_video(modify_video_idx)">-->
<!--                                        <i class="fa fa-trash-alt"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; btn&#45;&#45;toolbar &ndash;&gt;-->
<!--                        </div>-->

<!--                        <section id="content-detail-window">-->
<!--                            <div class="detail" tabindex="11"-->
<!--                                 style="opacity: 1; overflow: hidden; outline: none; display:none;">-->
<!--                                <setion class="detail__header">-->
<!--                                    <nav class="detail__nav">-->
<!--                                        <a ng-click="detail_selected('general')" ng-class="{'active': detail_page == 'general'}">동영상</a>-->
<!--                                        <a ng-click="detail_selected('advanced')" ng-class="{'active': detail_page == 'advanced'}">상품</a>-->
<!--                                    </nav>-->
<!--                                    <button type="button" class="btn__icon btn__icon-xs js-btn-close-detail-window"-->
<!--                                            ng-click="detail_video()">-->
<!--                                        <i class="fa fa-times"></i>-->
<!--                                    </button>-->
<!--                                </setion>-->

<!--                                &lt;!&ndash; 일반 &ndash;&gt;-->
<!--                                <section class="detail__content" id="detail-general" ng-show="detail_page == 'general'">-->
<!--                                    <section class="detail__preview">-->
<!--                                        &lt;!&ndash;                                        href="/media/preview/e/12014477?mi_output=intro&amp;pf=akj2995-pc1-high&amp;autoplay&amp;purge_cache"&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a ng-click="video_details(video_lib, 0)"&ndash;&gt;-->
<!--&lt;!&ndash;                                           class="content-preview content__preview" data-action="transcoding-preview"&ndash;&gt;-->
<!--&lt;!&ndash;                                           data-id="12014477">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <img src="https://img.youtube.com/vi/{{video_lib.video_url.substr(32, 11)}}/hqdefault.jpg"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 class="player-mockup ready-for-play">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="preview__status">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <svg width="48" height="48" viewBox="0 0 48 48">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <g stroke-linecap="round" stroke-linejoin="round" stroke-width="3"&ndash;&gt;-->
<!--&lt;!&ndash;                                                       transform="translate(0.5 0.5)" fill="#ffffff" stroke="#ffffff">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <circle fill="none" stroke="#ffffff" stroke-miterlimit="10"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                cx="24"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                cy="24" r="22"></circle>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <polygon data-color="color-2" fill="none" stroke-miterlimit="10"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                 points=" 19,32 19,16 32,24 "></polygon>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </g>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </svg>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <youtube class="content-preview content__preview" videoid="{{video_id}}" videoidx="{{video_idx}}"></youtube>&ndash;&gt;-->
<!--                                            <img id="{{video_id}}"-->
<!--                                                     ng-src="https://img.youtube.com/vi/{{video_id}}/hqdefault.jpg"-->
<!--                                                     alt="썸네일" style="height: 300px; object-fit: scale-down; cursor: pointer" ng-click="videoDetails(video_lib, 0)"/>-->
<!--                                    </section>-->

<!--                                    <section class="detail__wrap">-->
<!--                                        <form class="disable-enter disable-submit" ng-submit="video_option_update(video_lib)">-->
<!--                                            <div class="form-group">-->
<!--                                                <label>제목-->
<!--                                                    <a href="{{video_lib.video_url}}" target="_blank">-->
<!--                                                        <img src="../images/common/logos/logo_youtube.png" style="width: 25px; height: 25px;">-->
<!--                                                    </a>-->
<!--                                                </label>-->
<!--                                                <input type="hidden" ng-model="video_lib.idx">-->
<!--                                                <input type="text" class="form-control" id="form-title"-->
<!--                                                       name="form-title"-->
<!--                                                       placeholder="Title" value="{{video_lib.video_title}}"-->
<!--                                                       ng-model="video_lib.video_title"-->
<!--                                                       ng-disabled="fk_group_idx != 1 && video_lib.fk_user_idx != user_idx">-->
<!--                                            </div>-->

<!--&lt;!&ndash;                                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <label>카테고리</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <select id="form-categories" class="form-select" name="form-categories" ng-model="video_lib.categories">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <option value="">선택해주세요</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <option value="셔츠">셔츠</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <option value="셔츠">바지</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <option value="셔츠">모자</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </select>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->



<!--&lt;!&ndash;                                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <label>태그 (최대 10 개)</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="input-group-space">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <input type="text" class="form-control" id="form-tag"&ndash;&gt;-->
<!--&lt;!&ndash;                                                           name="form-tag"&ndash;&gt;-->
<!--&lt;!&ndash;                                                           placeholder="태그">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <button class="btn" type="button"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                id="btn-attach-tag-to-media-content">추가하기</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="tag-cloud" id="tag-cloud"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->

<!--                                            <div class="form-group row">-->
<!--                                                <label class="col-xs-3">상태</label>-->

<!--                                                <div class="col-xs-9 text-right">-->
<!--                                                    <div class="form-radio inline" style="float: left">-->
<!--                                                        <input type="radio" id="form-status-enable" name="form-status"-->
<!--                                                               value="1" ng-model="video_lib.video_status_value"-->
<!--                                                               ng-disabled="fk_group_idx != 1 && video_lib.fk_user_idx != user_idx">-->
<!--                                                        <label for="form-status-enable"><i class="fa fa-unlock"></i>활성화</label>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-radio inline" style="float: left">-->
<!--                                                        <input type="radio" id="form-status-disable" name="form-status"-->
<!--                                                               value="0" ng-model="video_lib.video_status_value"-->
<!--                                                               ng-disabled="fk_group_idx != 1 && video_lib.fk_user_idx != user_idx">-->
<!--                                                        <label for="form-status-disable"><i class="fa fa-lock"></i>비활성화</label>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class="form-group row">-->
<!--                                                <label class="col-xs-3">공유</label>-->
<!--                                                <div class="col-xs-9 text-right">-->
<!--                                                    <div class="form-radio inline" style="float: left">-->
<!--                                                        <input type="radio" id="form-shared-enable" name="form-shared"-->
<!--                                                               value="1" ng-model="video_lib.video_shared"-->
<!--                                                               ng-disabled="fk_group_idx != 1 && video_lib.fk_user_idx != user_idx">-->
<!--                                                        <label for="form-shared-enable"><i class="fa fa-unlock"></i>공개</label>-->
<!--                                                    </div>-->

<!--                                                    <div class="form-radio inline" style="float: left">-->
<!--                                                        <input type="radio" id="form-shared-disable" name="form-shared"-->
<!--                                                               value="0" ng-model="video_lib.video_shared"-->
<!--                                                               ng-disabled="fk_group_idx != 1 && video_lib.fk_user_idx != user_idx">-->
<!--                                                        <label for="form-shared-disable"><i class="fa fa-lock"></i>비공개</label>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class="detail__edit-footer" ng-show="selectedFilter.itemValue == 0">-->
<!--                                                <button type="submit" id="btn-update-content"-->
<!--                                                        class="btn btn-primary btn-confirm">-->
<!--                                                    <i class="fa fa-edit mr-xs"></i>변경하기-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </section>-->
<!--                                </section>-->

<!--                                &lt;!&ndash; 고급 &ndash;&gt;-->
<!--                                <section class="detail__content" id="detail-advanced" ng-show="detail_page == 'advanced' && !noItem">-->
<!--                                    <form class="disable-enter disable-submit" ng-submit="video_option_update(video_lib)">-->
<!--                                        <div ng-repeat="item in itemOfVideo">-->
<!--                                            <section class="detail__preview">-->
<!--                                                <img ng-src="{{item.item_img_path}}" class="content-preview content__preview" style="height: 300px; object-fit: scale-down">-->
<!--                                            </section>-->

<!--                                            <section class="detail__wrap">-->
<!--                                                <div class="form-group">-->
<!--                                                    <label>상품명</label>-->
<!--                                                    <label class="form-control"-->
<!--                                                           style="overflow: hidden;"-->
<!--                                                           name="form-title"-->
<!--                                                           placeholder="Title"-->
<!--                                                           ng-model="item.item_title">-->
<!--                                                        {{item.item_title}}-->
<!--                                                    </label>-->
<!--                                                </div>-->
<!--                                                <div class="form-group">-->
<!--                                                    <label>판매주소-->
<!--                                                        <a href="{{item.item_redirect_url}}"-->
<!--                                                           target="_blank">-->
<!--                                                            <i class="fa fa-link"></i>-->
<!--                                                        </a>-->
<!--                                                    </label>-->
<!--                                                    <label class="form-control"-->
<!--                                                           style="overflow: hidden;"-->
<!--                                                           name="form-url"-->
<!--                                                           placeholder="Title"-->
<!--                                                           ng-model="item.item_redirect_url">-->
<!--                                                        {{item.item_redirect_url}}-->
<!--                                                    </label>-->
<!--                                                </div>-->
<!--                                                <div class="form-group">-->
<!--                                                    <label>판매가</label>-->
<!--                                                    <label class="form-control"-->
<!--                                                           style="overflow: hidden;"-->
<!--                                                           name="form-title"-->
<!--                                                           placeholder="Title"-->
<!--                                                           ng-model="video_lib.video_title">-->
<!--                                                        {{item.item_price}}-->
<!--                                                    </label>-->
<!--                                                </div>-->
<!--                                            </section>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </section>-->
<!--                                <section class="detail__content" ng-show="detail_page == 'advanced' && noItem">-->
<!--                                    <p> 상품이 존재하지 않습니다. </p>-->
<!--                                </section>-->
<!--                            </div>-->
<!--                        </section>-->

<!--                        &lt;!&ndash; 라이브러리 테이블 &ndash;&gt;-->
<!--                        -->
<!--                    </section>-->
<!--                </section>-->
<!--            </section>-->
<!--        </section>-->
<!--    </section>-->
<!--</section>&lt;!&ndash; container &ndash;&gt;-->

<!--&lt;!&ndash;    <div id="table_area" class="video_list_table_area" ng-if="video_status == 0">&ndash;&gt;-->
<!--&lt;!&ndash;        <ul id="video_list_item" class="video_list_item">&ndash;&gt;-->
<!--&lt;!&ndash;            <li ng-repeat="item in videolistData | limitTo: video_list_count | orderBy:orderProperty.id" ng-show="videolistData != undefined">&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt ng-mouseenter="video_mouse_over(item.video_url.substr(32, 11))" ng-mouseleave="video_mouse_leave()" style="position: relative;">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span ng-if="is_mouse_over && item.video_url.substr(32, 11) == video_id && (fk_group_idx == 1 || item.fk_user_idx == user_idx)" class="video_delete"><button type="button" ng-click="video_drop(item.idx)">X</button></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <img id="{{item.video_url.substr(32, 11)}}" ng-src="https://img.youtube.com/vi/{{item.video_url.substr(32, 11)}}/hqdefault.jpg" alt="썸네일" class="video_url" ng-click="details(item, video_status)"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span ng-if="is_mouse_over && item.video_url.substr(32, 11) == video_id" class="item_count">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span ng-if="item.item_count != 0" class="Netflix-Logo-3-hex"><img src="../images/item_shape/1.png" class="video_list_present" ng-click="item_list_check(item)">x{{item.item_count}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="https://www.youtube.com/watch?v={{item.video_url.substr(32, 11)}}" target="_blank"><img src="../images/item_shape/youtube.png" class="logo_youtube"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span class="favorites_star">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <label for="id-of-input" class="custom-checkbox" ng-show="fk_group_idx == 2">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              <input type="checkbox" id="id-of-input" value="{{item.video_auto_preview}}" ng-model="item.selectedPreview" ng-click="favoriteVideo(item)"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              <i class="glyphicon glyphicon-star-empty"></i>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              <i class="glyphicon glyphicon-star"></i>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            </label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    </dt>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd class="video_list_item_name Netflix-Logo-4-hex">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{item.video_title}}&ndash;&gt;-->
<!--&lt;!&ndash;                    </dd>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        <ul style="text-align: center;">&ndash;&gt;-->
<!--&lt;!&ndash;            <li ng-show="videolistData == 0">&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>&ndash;&gt;-->
<!--&lt;!&ndash;                            현재 검색 결과가 존재하지 않습니다.<br>&ndash;&gt;-->
<!--&lt;!&ndash;                            검색값을 초기화 하고, 5초 후 홈으로 돌아갑니다.&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </dt>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <button ng-show="init_search" ng-click="video_list_check()">홈으로</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div ng-show="is_mouse_over" id="preview" style="width: 640px; height: 360px; position: absolute; z-index: 999;">&ndash;&gt;-->
<!--&lt;!&ndash;        <youtube ng-if="is_mouse_over" videoid={{video_id}} isautoplay="1"></youtube>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="video_list_table" ng-if="video_status == 1">&ndash;&gt;-->
<!--&lt;!&ndash;        <dl class="video_list Netflix-Logo-4-hex" ng-repeat="shape in shape_lists">&ndash;&gt;-->
<!--&lt;!&ndash;            <dd>&ndash;&gt;-->
<!--&lt;!&ndash;                <ul class="video_list_item">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li ng-repeat="item in listData | limitTo : limit_count | orderBy:orderProperty.id" ng-if="shape.idx == item.shape_idx">&ndash;&gt;-->
<!--&lt;!&ndash;                        <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                            <dt>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                <span ng-if="fk_group_idx == 1 || item.fk_user_idx == user_idx" class="video_delete"><button type="button" ng-click="video_drop(item.idx)">X</button></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                <img ng-src="https://img.youtube.com/vi/{{item.video_url.substr(32, 11)}}/hqdefault.jpg" alt="썸네일" class="video_url" ng-click="details(item, video_status)"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="item_count">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span ng-if="item.item_count != 0" class="Netflix-Logo-3-hex"><img src="../images/item_shape/1.png" class="video_list_present" ng-click="item_list_check(item)">x{{item.item_count}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="https://www.youtube.com/watch?v={{item.video_url.substr(32, 11)}}" target="_blank"><img src="../images/item_shape/youtube.png" class="logo_youtube"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                            </dt>&ndash;&gt;-->
<!--&lt;!&ndash;                            <dd class="video_list_item_name Netflix-Logo-4-hex">&ndash;&gt;-->
<!--&lt;!&ndash;                                {{item.item_title}}&ndash;&gt;-->
<!--&lt;!&ndash;                            </dd>&ndash;&gt;-->
<!--&lt;!&ndash;                        </dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </dd>&ndash;&gt;-->
<!--&lt;!&ndash;        </dl>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="video_list_table_area" ng-if="video_status == 2">&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="video_list_item">&ndash;&gt;-->
<!--&lt;!&ndash;            <li ng-repeat="item in classiclistData | limitTo: classic_limit_count">&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span ng-if="fk_group_idx == 1 || item.fk_user_idx == user_idx" class="video_delete"><button type="button" ng-click="video_drop(item.idx)">X</button></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <img ng-src="https://img.youtube.com/vi/{{item.video_url.substr(32, 11)}}/hqdefault.jpg" alt="썸네일" class="video_url" ng-click="details(item, video_status)"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="item_count">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span ng-if="item.item_count != 0" class="Netflix-Logo-3-hex"><img src="../images/item_shape/1.png" class="video_list_present" ng-click="item_list_check(item)">x{{item.item_count}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="https://www.youtube.com/watch?v={{item.video_url.substr(32, 11)}}" target="_blank"><img src="../images/item_shape/youtube.png" class="logo_youtube"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </dt>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd class="video_list_item_name Netflix-Logo-4-hex">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{item.item_title}}&ndash;&gt;-->
<!--&lt;!&ndash;                    </dd>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->