<i manage-nav></i>
<section class="content">
    <h1 class="title">AI 만들기</h1>
    <div class="make_ai">
        <ul class="make_ai_level">
            <li class="" ng-click="make_ai_level = 1" ng-class="{'selected': make_ai_level == 1}">동영상 선택</li>
            <li class="" ng-click="make_ai_level = 2" ng-class="{'selected': make_ai_level == 2}">상품 선택</li>
            <li class="" ng-click="make_ai_level = 3" ng-class="{'selected': make_ai_level == 3}">AI 모델링</li>
            <li class="" ng-click="video_capture_func(selected_video, selected_item)" ng-class="{'selected': make_ai_level == 4}">AI 편집</li>
        </ul>

        <div class="make_ai_video_select" ng-show="make_ai_level == 1">
            <div>
                <h1>동영상 검색</h1>
                <span class="make_ai_video_search">
                    <input type="text" placeholder="Search" ng-model="make_ai_video_search"/>
                    <button type="button">
                        <img src="../images/common/icons/ic-search.png" alt="">
                    </button>
                </span>
                <span class="make_ai_video_search_guide">동영상은 한 번에 1개만 선택할 수 있습니다.</span>
            </div>
            <div>
                <h1>동영상 검색결과</h1>
            </div>
            <div>
                필터
            </div>
            <div class="make_ai_video_list">
                <ul>
                    <li ng-repeat="video in show_videoList | filter:make_ai_video_search">
                        <button type="button" ng-click="video_click(video)">
                            <img ng-src="https://img.youtube.com/vi/{{video.video_url.substr(32, 11)}}/hqdefault.jpg">
                            <div>
                                <p>{{video.video_title}}</p>
                                <p>{{video.video_duration}}</p>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="make_ai_item_select" ng-show="make_ai_level == 2">
            <div>
                <h1>상품 검색</h1>
                <span class="make_ai_item_search">
                    <input type="text" placeholder="Search" ng-model="make_ai_item_search"/>
                    <button type="button">
                        <img src="../images/common/icons/ic-search.png" alt="">
                    </button>
                </span>
            </div>
            <div>
                <h1>상품 검색결과</h1>
            </div>
            <div>
                필터
            </div>
            <div class="make_ai_item_list">
                <ul>
                    <li ng-repeat="item in show_itemList | filter: make_ai_item_search">
                        <button type="button" ng-click="item_click(item, selected_video)">
                            <img ng-src="../images/uploads/{{item.idx}}_product.jpg">
                            <div>
                                <p>
                                     <input type="checkbox" ng-click="video_check_one(item.idx)">
                                    {{item.item_title}}
                                </p>
                                <p>{{item.item_price}}</p>
                            </div>
                        </button>
                    </li>
                </ul>
<!--                <button type="button" class="make_ai_item_select_btn" ng-click="item_click()">확인</button>-->
            </div>
        </div>

        <div class="make_ai_modeling" ng-show="make_ai_level == 3">
            <div class="make_ai_modeling_video">
                <span>
                    <h1>연결할 동영상</h1>
                    <img ng-src="{{video_image}}">
                </span>
                <span>
                    <h1>모델링 화면</h1>
                    <span class="make_ai_modeling_spinner" ng-show="modeling_loading">
                        <i class="fa fa-spinner fa-spin"></i><br/>
                        상품연결중…<br/>
                        {{modeling_progress}}%
                    </span>
                    <img ng-src="{{draw_image}}">
                </span>
                <span class="make_ai_modeling_video_start">
                    <button type="button" ng-click="start_modeling()">AI 모델링 시작</button>
                    <p>
                        AI 모델링 시작 버튼을 누르면<br/>
                        상품 연결을 시작합니다.
                    </p>
                </span>
            </div>
            <div class="make_ai_modeling_item">
                <p>연결할 상품</p>
                <div>
                    <img ng-src="../images/uploads/{{selected_item.idx}}_product.jpg">
                </div>
            </div>
        </div>

        <div class="make_ai_model_edit" ng-show="make_ai_level == 4">
            <div class="make_ai_model_edit_video">
                <span>
                    <h1>연결된 동영상</h1>
                    <img ng-src="https://img.youtube.com/vi/{{selected_video.video_url.substr(32, 11)}}/hqdefault.jpg">
<!--                    <img ng-show="modify_success_list != null" ng-src="{{img_modify_url_current}}">-->
                </span>
                <span style="position: relative;">
                    <h1>AI 자동지정 편집</h1>
<!--                    <img ng-show="modify_success_list == null" ng-src="https://img.youtube.com/vi/{{selected_video.video_url.substr(32, 11)}}/hqdefault.jpg">-->
                    <img ng-show="modify_success_list != null" ng-src="{{img_modify_url_current}}" id="current_modify_editor_img">
                    <div>
                        <div id="canvas_modify_editor" style="width: 100%; height: 100%;"></div>
                    </div>
<!--                    -item.x/(1920/width_img)-->
                    <modify-Editposition ng-repeat="item in modify_rect" ng-mousedown="modify_rect_down(item, enter_status)" class="modify__div" context="context1" id="item_modify_div_{{item.position_order}}" style="display: flex; left:{{item.x/(1920/width_img) | number:0}}px; top:{{item.y/(1080/height_img) | number:0}}px; height:{{(item.height/(1080/height_img)) | number:0}}px; width:{{(item.width/(1920/width_img)) | number:0}}px; position: absolute; border: 1px solid #fff; background-color: rgba(0,0,0,0.3);" ng-right-click=""></modify-Editposition>
                </span>
                <span class="make_ai_modeling_video_start">
<!--                    <button type="button">AI 모델링 시작</button>-->
                    <p>
                        자동지정된 구간을 편집하고 싶으시다면<br/>
                        모서리를 클릭하여 움직여보세요.
                    </p>
                </span>
                <button class="make_ai_model_edit_save_btn" ng-click="position_editor_modify(rectLeft, rectTop, rectWidth, rectHeight, image_frame, width_img, height_img, selected_item.idx, position_order, selected_video.idx)">저장</button>
            </div>
            <div class="make_ai_model_edit_item">
                <p class="make_ai_model_edit_item_time">연결된 동영상 구간 <input type="text" ng-model="start_time" placeholder="00:00"> - <input type="text" ng-model="end_time" placeholder="00:00"><button id="btn-search_position" ng-click="position_molra(start_time, end_time)">이동</button><button ng-click="position_all(modify_rect_position)">전체보기</button></p>
                <div>
                    <div>
<!--                        <ul>-->
<!--                            <li ng-repeat="image in modify_success_list">Position: {{image.position}}</li>-->
<!--                        </ul>-->
                        <img ng-repeat="image in modify_success_list" ng-click="ItemModifyEditor(image, selected_video.idx, selected_item.idx)" ng-src="{{image.draw_img_name}}">
                        <ul>
                            <li ng-repeat="image in modify_success_list">{{image.position_time_d}}</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p>
                        연결된 상품
                        <button type="button">전체삭제</button>
                        <button type="button">선택삭제</button>
                    </p>
                    <img ng-src="../images/uploads/{{image.idx}}_product.jpg">
                </div>
            </div>
            <ul id="context1" class="context_back" style="display: none;">
<!--                <li style="background-color: blue; color: #fff;">영역 수정</li>-->
<!--                <li>{{position_order}}번째 영역</li>-->
<!--                <li><button ng-click="position_editor_modify(rectLeft, rectTop, rectWidth, rectHeight, image_frame, w, h, item_idx, position_order, selectedItem.idx)">수정</button></li>-->
                <li><button ng-click="position_editor_delete(image_frame, selected_item.idx, position_order, selected_video.idx)" style="background: rgba(0, 0, 0, 0.3);border: 1px solid #fff;color: #fff;padding: 4px 8px;">삭제</button></li>
<!--                <li ng-show="rectPosition.length > 1"><button ng-click="position_editor_all_drop(rectPosition, item_idx, image_frame, selectedItem.idx)">모두 삭제</button></li>-->
            </ul>
        </div>
    </div>
</section>
<!--<article id="video_Editors_content" class="modal__content">-->
<!--    <div id="video_Editors_Time_Line" class="video_editor_wrap">-->
<!--        <div id="editors_LNB_wrap" class="editors_LNB_wrap">-->
<!--            <div id="editors_LNB" style="background-color:#272731;">-->
<!--                <ul>-->
<!--                    <li class="lib_btn" style="line-height: 60px;height: 60px;color: #fff;padding-top: unset;font-weight: bold;background: #258cd1 radial-gradient(circle, transparent 1%, #258cd1 1%) center/20000%;">-->
<!--                        <p>TITANS</p>-->
<!--                    </li>-->
<!--                    <li class="lib_btn" ng-click="back_editor()" ng-show="selectedItem != '' && make_titan_status === 200 && ai_status != 100 && !showlib">-->
<!--                        <button><i class="fa fa-arrow-left"></i>-->
<!--                            <p>이전</p>-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="lib_btn add_ai" ng-show="ai_status == 0 && !show_item_lib" ng-click="VideoList()">-->
<!--                        <button><i class="fa fa-video"></i>-->
<!--                            <p>내 동영상</p>-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="lib_btn add_ai" ng-show="ai_status == 0 && !show_item_lib" ng-click="VideoShared()">-->
<!--                        <button><i class="fa fa-share-alt"></i>-->
<!--                            <p>공유된 영상</p>-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="lib_btn" ng-show="ai_status == 100 && !drawing" id="adding_position" style="display: none;" ng-click="multiDraw(editor_i)">-->
<!--                        <button><i class="far fa-object-ungroup"></i>-->
<!--                            <p>영역 추가</p>-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="lib_btn" id="cancel_position" style="display: none;" ng-click="CancelDraw()">-->
<!--                        <button><i class="far fa-object-ungroup"></i>-->
<!--                            <p>추가 취소</p>-->
<!--                        </button>-->
<!--                    </li>-->
<!--&lt;!&ndash;                    <li class="lib_btn add_ai" ng-show="ai_status == 0 && !show_item_lib" ng-click="AIList(selectedItem.video_url)">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button><i class="fa fa-brain"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>A.I.선택</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        </button>&ndash;&gt;-->

<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    <li class="lib_btn" ng-show="ai_status == 100" ng-click="first_work()">-->
<!--                        <button><i class="fa fa-fast-backward"></i>-->
<!--                            <p>처음으로</p>-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="lib_btn" style="position: absolute; bottom: 0;">-->

<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div id="AIList" class="alert_modal 모델리스트div">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="title">A.I. 선택하기&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-close" ng-click="AIList()" style="cursor: pointer;"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="에디터검색">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" name="search" class="" ng-model="search.item" placeholder="검색어 입력">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="모델리스트다">&ndash;&gt;-->
<!--&lt;!&ndash;                <li ng-repeat="main in item_model_type | filter:search" ng-click="main_model_click(selectedItem, main)">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button style="color:{{main.text_color}}; font-weight: bolder;">{{main.item}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <li><button ng-click="">사용 중인 모델: {{make_model_title}}</button></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="editors_header">-->
<!--            <input type="text" class="editor_title" value="{{editor_title}}" disabled>-->
<!--            <button ng-click="close(make_titan_status)" class="editor_close">-->
<!--                <i class="fa fa-sign-out-alt"></i>-->
<!--                닫기-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="editors_content">-->
<!--            <div class="editors_above">-->
<!--                <div id="editors_none" class="editors_none">-->
<!--                    <div class="editors_video-select" ng-show="showlib">-->
<!--                        <div>-->
<!--&lt;!&ndash;                            <span style="display:block;color:#fff; font-size: 1.0rem;" ng-show="showlib">{{prev_model_item}}: {{make_model_title}}</span>&ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="editors_video-select" ng-show="show_item_lib" id="editors_video_div">-->
<!--                        <span style="display:block;color:#fff; font-size: 1.0rem;" ng-show="show_item_lib">선택된 상품 아이템: {{make_item_title}}</span>-->
<!--                        <div ng-repeat="item in show_itemList" style="display: inline">-->
<!--                            <button ng-click="item_idx_click(item)" ng-disabled="item.request_status">-->
<!--                                <div ng-show="item.request_status" class="fa fa-lock item_lock"></div>-->
<!--                                <img ng-src="{{item.item_img_path}}">-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="video_add_container" ng-show="show_video_add">-->
<!--                        <form method="post" name="video_search" ng-submit="VideoSearch(searchTitle)" novalidate form-autofill-fix>-->
<!--                            <div class="form-group">-->
<!--                                <input type="text" style="width: 70%;" class="form-control input-field inline-block" placeholder="검색" ng-model="searchTitle" ng-keypress="($event.which === 13)?login(searchTitle):0" required />-->
<!--                                <input type="submit" class="btn inline-block" value="검색" />-->
<!--                            </div>-->

<!--                        </form>-->
<!--                        <div ng-repeat="video in video_list" class="video_search_list">-->
<!--                            <div ng-click="addDetail(video)" class="video_add_item">-->
<!--                                <section class="detail__editor__preview">-->
<!--                                    <img ng-src="https://img.youtube.com/vi/{{video.id}}/hqdefault.jpg" alt="썸네일">-->
<!--                                </section>-->
<!--                                <div>-->
<!--                                    <p class="ellipsis2">{{video.title}}</p>-->
<!--                                    <p class="ellipsis2">{{video.channel}}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div ng-show="search_status">-->
<!--                            검색 중...-->
<!--                        </div>-->
<!--                        <div ng-show="search_value_status">-->
<!--                            검색 결과가 존재하지 않습니다.-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <button id="insert_video_item" ng-click="VideoAdd()" ng-show="showlib" style="display: inline-block; position: absolute;bottom: 12px;right: 30px;padding: 6px 25px;background-color: rgba(255, 255, 255,0.05);border-radius: 4px;color: #eeeeee;">영상 추가</button>-->
<!--                </div>-->
<!--                <div class="editors_title" id="editors_title">-->
<!--                    <div id="editors_meta" style="position: relative;">-->
<!--                        <div>-->
<!--                            <img ng-src="{{img_url_current}}" src="{{img_url_current}}" class="current_editor_img" id="current_editor_img" ng-show="img_url_current != '' && img_url_current != undefined" style="max-width: 947px;">-->
<!--                            <div style="position: absolute; width:100%; height: 100%; top: 0;">-->
<!--                                <div id="canvas_editor" style="max-width: 947px; width: 100%; height: 100%;"></div>-->
<!--                            </div>-->
<!--                            <div class="item_div" ng-repeat="item in EditorObjects" id="item_div_{{item.total_position}}" style="display: {{modify_rect_display}}; left:{{item.x/(1920/w) | number:0}}px; top:{{item.y/(1080/h) | number:0}}px; height:{{(item.height/(1080/h)-item.y/(1080/h)) | number:0}}px; width:{{(item.width/(1920/w)-item.x/(1920/w)) | number:0}}px; position: absolute; border: 1px solid white; background-color: rgba(0,0,0,0.3);"></div>-->
<!--                            <editor-position ng-repeat="item in modify_rect" class="item_modify_div" id="item_modify_div_{{item.position_order}}" style="display: flex; left:{{item.x/(1920/w) | number:0}}px; top:{{item.y/(1080/h) | number:0}}px; height:{{(item.height/(1080/h)-item.y/(1080/h)) | number:0}}px; width:{{(item.width/(1920/w)-item.x/(1920/w)) | number:0}}px; position: absolute; border: 1px solid white; background-color: rgba(0,0,0,0.3);" ng-mousedown="modify_rect_down(item, enter_status)" context="context2" ng-right-click=""></editor-position>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div id="editors_insert_video" class="editors_insert_video">-->
<!--&lt;!&ndash;                    <div id="video_canvas" class="video_canvas"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div style="position:absolute; width: 45%; height: 45% border: 1px solid #fff;" ng-show="loading_alert">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div id="" class="alert_modal">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="title">&ndash;&gt;-->
<!--&lt;!&ndash;                                {{loading_title}}&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="msg" ng-show="loading_title == '로딩 중'">&ndash;&gt;-->
<!--&lt;!&ndash;                                상품 아이템의 영역을 찾는 중입니다 (1~3분정도 소요될 수 있습니다.)&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="loader"><span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="msg" ng-show="loading_title == '서버 에러'">&ndash;&gt;-->
<!--&lt;!&ndash;                                페이지 관리자에게 문의해주세요.&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="msg" ng-show="loading_title == '모델 없음'">&ndash;&gt;-->
<!--&lt;!&ndash;                                모델이 존재하지 않습니다. 이전 작업으로 이동하시거나 종료해주세요.&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="msg" ng-show="loading_title == '시간 초과'">&ndash;&gt;-->
<!--&lt;!&ndash;                                작업 시간이 오래 걸려 종료합니다. 이전 작업으로 이동하시거나 종료해주세요.&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <youtube id="youtube_if" videoid="{{selectedItem.video_url.substr(32, 11)}}" videoidx="{{selectedItem.idx}}"-->
<!--                             itemdetection="{{item_detection}}" modeltitle="{{main_model.value}}" iscontrols="0"></youtube>-->
<!--                    <div class="editor__rect" tooltip="{{make_item_title}}" tooltip-placement="right" ng-repeat="item in item_rect_detection" style="display: {{rect_display}}; left:{{(item.left/(1920/youtube_width)) + calc_value | number:0}}px; top:{{item.top/(1080/youtube_height) | number:0}}px; height:{{(item.height/(1080/youtube_height)-item.top/(1080/youtube_height)) | number:0}}px; width:{{(item.width/(1920/youtube_width)-item.left/(1920/youtube_width)) | number:0}}px; position: absolute; border: 1px solid white; background-color: rgba(0,0,0,0.3);"></div>-->
<!--                    <div ng-repeat="item in modify_rect" id="item_modify_div_video_{{item.position_order}}" class="item_modify_div" style="display: flex; left:{{item.x/(1920/youtube_width) + calc_value | number:0}}px; top:{{item.y/(1080/youtube_height) | number:0}}px; height:{{(item.height/(1080/youtube_height)-item.y/(1080/youtube_height)) | number:0}}px; width:{{(item.width/(1920/youtube_width)-item.x/(1920/youtube_width)) | number:0}}px; position: absolute; border: 1px solid white; background-color: rgba(0,0,0,0.3);"></div>-->
<!--&lt;!&ndash;                    <div class="editor_btn_line">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button ng-show="make_titan_status == 403" ng-click="metaDataCancel(make_titan_status)" class="position_cancel_btn">상품 영역 추가 취소</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button id="backward_btn" ng-disabled="meta_data_insert"><i class="fas fa-backward"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button id="play_btn" data-seek="{{current_time}}" style="display: inline-block;" ng-disabled="meta_data_insert"><i class="fa fa-play" data-seek="{{current_time}}"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button id="pause_btn" style="display: none;" tooltip="정지 하시거나 상품 아이템을 클릭하시면 찾은 영역을 보실 수 있습니다." tooltip-placement="bottom"><i class="fa fa-pause"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button id="forward_btn" ng-disabled="meta_data_insert"><i class="fas fa-forward" ng-disabled="meta_data_insert"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <button ng-show="make_titan_status != 403" id="meta_data_detector" ng-click="ItemEditorDetection(main_model.value)" ng-disabled="meta_data_insert">검출</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="editors_timeline">-->
<!--                <div class="positionList">-->
<!--                    <div style="position: absolute; left: 0;">-->
<!--&lt;!&ndash;                        <button class="position_btn" ng-click="position_selected(2)" ng-disabled="ai_status != 100">전체</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button class="position_btn" ng-click="position_selected(0)" ng-disabled="ai_status != 100">추가되지 않은 영역</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button class="position_btn" ng-click="position_selected(1)" ng-disabled="ai_status != 100">추가된 영역</button>&ndash;&gt;-->
<!--                        <button class="position_btn" ng-click="position_selected(2)">전체</button>-->
<!--                        <button class="position_btn" ng-click="position_selected(0)">추가되지 않은 영역</button>-->
<!--                        <button class="position_btn" ng-click="position_selected(1)">추가된 영역</button>-->
<!--                    </div>-->
<!--                    <div style="display: none;"><div id="current-time" style="display: inline-block; color: #eee;">00:00:00</div>/<div id="duration" style="display: inline-block">00:00:00</div></div>-->
<!--                </div>-->
<!--                <div id="editors_list_tab">-->
<!--                    <ul id="editor_list" class="menu-area" style="top: 0; height: 94%;">-->
<!--                        <li ng-repeat="item in editor_locker" class="editor_li">-->
<!--                            <p style="margin-bottom: 75px;font-weight: bolder;font-size: 15px;">{{item.position_time.toFixed(1)}}</p>-->
<!--                            <i class="fa fa-angle-down editor_icon" id="editor_icon_{{item.image_frame}}" style="display:{{item.display}}; color:#fff;"></i>-->
<!--                            <button ng-click="ItemEditor(item, selectedItem.idx)" style="border: {{item.border_color}};" id="meta_editor_li_{{item.image_frame}}" class="meta_editor_li">-->
<!--                                <img ng-src="{{item.draw_image}}" style="width: 180px; height: 130px;">-->
<!--                            </button>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="progress" style="display: none; height: 6%;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div id="progress_bar" class="progress-bar progress-bar-success Netflix-Logo-4-hex" style="width:{{ai_status}}%">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ai_status}}%&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <ul id="context2" class="context_back">-->
<!--        <li style="background-color: blue; color: #fff;">영역 수정</li>-->
<!--        <li>{{position_order}}번째 영역</li>-->
<!--        <li><button ng-click="position_editor_modify(rectLeft, rectTop, rectWidth, rectHeight, image_frame, w, h, item_idx, position_order, selectedItem.idx)">수정</button></li>-->
<!--        <li><button ng-click="position_editor_delete(image_frame, item_idx, position_order, selectedItem.idx)">삭제</button></li>-->
<!--        <li ng-show="rectPosition.length > 1"><button ng-click="position_editor_all_drop(rectPosition, item_idx, image_frame, selectedItem.idx)">모두 삭제</button></li>-->
<!--    </ul>-->
<!--</article>-->