<!--<div class="Netflix-Logo-5-hex-back Netflix-Logo-4-hex alert_modal">-->
<!--    <div class="popup_video_add_container">-->
<!--        <div class="title">-->
<!--            <span>영상 추가</span>-->
<!--            <button class="fa fa-close" ng-click="close()"></button>-->
<!--        </div>-->
<!--        <div class="msg">-->
<!--            <youtube videoid={{video.id}} class="video_add_detail_youtube"></youtube>-->
<!--            <form method="post" name="video_add" ng-submit="videoAdd(video.title)" novalidate form-autofill-fix>-->
<!--                <div>-->
<!--                    제목: <input type="text" name="video_title" style="width: 70%; margin: 10px 0;" ng-model="video.title" placeholder="상품명을 입력하세요." autocomplete="off" >-->
<!--                </div>-->
<!--                <div>-->
<!--                    <button type="submit" class="btn Netflix-Logo-2-hex-back Netflix-Logo-4-hex">영상 추가</button>-->
<!--                    <button type="button" ng-click="close()" class="btn Netflix-Logo-2-hex-back Netflix-Logo-4-hex">취소</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->