<i manage-nav></i>
<section class="content">
    <h1 class="title">AI 만들기</h1>
    <div class="make_ai">
        <ul class="make_ai_level">
            <li class="" ng-click="modeling_loading === true || video_selected()" ng-class="{'selected': make_ai_level == 1}">동영상 선택</li>
            <li class="" ng-click="modeling_loading === true || item_selected()" ng-class="{'selected': make_ai_level == 2}">상품 선택</li>
            <li class="" ng-click="modeling_loading === true || detect_seleted()" ng-class="{'selected': make_ai_level == 3}">AI 모델링</li>
            <li class="" ng-click="modeling_loading === true || video_capture_func(selected_video, selected_item)" ng-class="{'selected': make_ai_level == 4}">AI 편집</li>
        </ul>

        <div class="make_ai_video_select" ng-show="make_ai_level == 1">
            <div>
                <h1>동영상 검색</h1>
                <span class="make_ai_video_search">
                    <input type="text" placeholder="Search" ng-model="make_ai_video_search"/>
                    <button type="button">
                        <img src="../images/common/icons/ic-search.png" alt="">
                    </button>
                </span>
                <span class="make_ai_video_search_guide">동영상은 한 번에 1개만 선택할 수 있습니다.</span>
            </div>
            <div>
                <h1>동영상 검색결과</h1>
            </div>
            <div>
                필터
            </div>
            <div class="make_ai_video_list">
                <ul>
                    <li ng-repeat="video in show_videoList | filter:make_ai_video_search">
                        <button type="button" ng-click="video_click(video)">
                            <img ng-src="https://img.youtube.com/vi/{{video.video_url.substr(32, 11)}}/hqdefault.jpg">
                            <div>
                                <p>{{video.video_title}}</p>
                                <p>{{video.video_duration}}</p>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="make_ai_item_select" ng-show="make_ai_level == 2">
            <div>
                <h1>상품 검색</h1>
                <span class="make_ai_item_search">
                    <input type="text" placeholder="Search" ng-model="make_ai_item_search"/>
                    <button type="button">
                        <img src="../images/common/icons/ic-search.png" alt="">
                    </button>
                </span>
            </div>
            <div>
                <h1>상품 검색결과</h1>
            </div>
            <div>
                필터
                <button type="button" class="make_ai_item_select_btn" ng-click="item_check()">확인</button>
            </div>
            <div class="make_ai_item_list">
                <ul>
                    <li ng-repeat="item in show_itemList | filter: make_ai_item_search">
                        <button type="button" ng-click="item_list_click(item)">
                            <img ng-src="../images/uploads/{{item.idx}}_product.jpg">
                            <div>
                                <p>
                                    <input type="checkbox" id="make_ai_item-{{item.idx}}" class="make_ai_item_chk">
                                    <label class=""></label>
                                    {{item.item_title}}
                                </p>
                                <p>{{item.item_price}}</p>
                            </div>
                        </button>
                    </li>
                </ul>
<!--                <button type="button" class="make_ai_item_select_btn" ng-click="item_click()">확인</button>-->
            </div>
        </div>

        <div class="make_ai_modeling" ng-show="make_ai_level == 3">
            <div class="make_ai_modeling_video">
                <span class="make_ai_model_edit_link_video">
                    <h1>연결할 동영상</h1>
                    <img ng-src="{{video_image}}">
                </span>
                <span>
                    <h1>모델링 화면</h1>
                    <span class="make_ai_modeling_spinner" ng-if="modeling_loading">
                        <i class="fa fa-spinner fa-spin" style="color: #fff;"></i><br/>
                        {{progress_title}}<br/>
                        {{modeling_progress}}%
                    </span>
                    <img ng-src="{{draw_image}}">
                </span>
                <span class="make_ai_modeling_video_start">
                    <button type="button" ng-click="start_modeling()">Detection</button>
                    <button type="button" ng-click="classification_model(selected_video, selected_item)">Classification</button>
                    <p>
                        AI 모델링 시작 버튼을 누르면<br/>
                        상품 연결을 시작합니다.
                    </p>
                </span>
            </div>
            <div class="make_ai_modeling_item">
                <p>연결할 상품</p>
                <div>
<!--                    <img ng-repeat="item in selected_item" ng-src="../images/uploads/{{item.idx}}_product.jpg">-->
                    <img ng-src="../images/uploads/{{selected_item.idx}}_product.jpg">
                </div>
            </div>
        </div>
        <div class="make_ai_model_edit" ng-show="make_ai_level == 4">
            <div class="make_ai_model_edit_video">
                <span class="make_ai_model_edit_link_video">
                    <h1>연결된 동영상</h1>
                    <img ng-src="https://img.youtube.com/vi/{{selected_video.video_url.substr(32, 11)}}/hqdefault.jpg">
<!--                    <img ng-show="modify_list != null" ng-src="{{img_modify_url_current}}">-->
                </span>
                <span style="position: relative;">
                    <h1>AI 자동지정 편집</h1>
                    <img ng-show="modify_list == null" ng-src="https://img.youtube.com/vi/{{selected_video.video_url.substr(32, 11)}}/hqdefault.jpg">
                    <img ng-show="modify_list != null" ng-src="{{img_modify_url_current}}" id="current_modify_editor_img">
                    <div>
                        <div id="canvas_modify_editor" style="width: 100%; height: 100%;"></div>
                    </div>
<!--                    -item.x/(1920/width_img)-->
                    <script src="scripts/controllers/swipe.js"></script>
                    <script>
                        $(document).ready(function () {
                            console.log('준비');
                            $("#current_modify_editor_img").swipe({
                                PreventDefault: true,
                                EnableMouse: true,
                                Distance: 100,
                                OnTouch: function (detail) {
                                  console.log("Touch Details : { clientX : " + detail.client.x + ", clientY : " + detail.client.x + ", pageX : " + detail.page.x + ", pageY : " + detail.page.y + ", screenX : " + detail.screen.x + ", screenY : " + detail.screen.y + "}");
                                },
                                OnMove: function (detail) {
                                  console.log("Move Details : { xchange:" + detail.diffx + ", ychange : " + detail.diffy + ", clientX : " + detail.client.x + ", clientY : " + detail.client.x + ", pageX : " + detail.page.x + ", pageY : " + detail.page.y + ", screenX : " + detail.screen.x + ", screenY : " + detail.screen.y + "}");
                                },
                                OnSwipe: function (detail) {
                                  console.log("Swipe Details : { direction :" + detail.direction + ", distance : " + detail.distance + ", speed : " + detail.speed + ", time: " + detail.time + "}");
                                },
                                OnEnd: function () {
                                    console.log('end');
                                }
                            });
                        });
                    </script>
                    <modify-Editposition ng-repeat="item in modify_rect" ng-click="modify_rect_down(item, enter_status)" class="modify__div" id="item_modify_div_{{item.position_order}}" style="display: flex; left:{{item.x/(1920/width_img) | number:0}}px; top:{{item.y/(1080/height_img) | number:0}}px; height:{{(item.height/(1080/height_img)) | number:0}}px; width:{{(item.width/(1920/width_img)) | number:0}}px; position: absolute; border: 1px solid #fff; background-color: rgba(0,0,0,0.3);"></modify-Editposition>
                    <ul id="meta_data_editor_btn" class="context_back" style="display: none;position:absolute;z-index: 999">
                        <li><button ng-click="position_editor_modify(rectLeft, rectTop, rectWidth, rectHeight, image_frame, width_img, height_img, selected_item.idx, position_order, selected_video.idx)">수정</button></li>
                        <li><button ng-click="position_editor_delete(image_frame, selected_item.idx, position_order, selected_video.idx)">삭제</button></li>
                    </ul>
                </span>
                <span class="make_ai_modeling_video_start">
<!--                    <button type="button">AI 모델링 시작</button>-->
                    <p>
                        자동지정된 구간을 편집하고 싶으시다면<br/>
                        모서리를 클릭하여 움직여보세요.
                    </p>
                </span>
                <button class="make_ai_model_edit_save_btn" ng-click="videoDetails()">저장</button>
            </div>
            <div class="make_ai_model_edit_item">
                <p class="make_ai_model_edit_item_time">연결된 동영상 구간
                    <input type="text" id="StartTime" ng-model="start_time" placeholder="00:00"> - <input type="text" id="EndTime" ng-model="end_time" placeholder="00:00">
                    <button id="btn-search_position" ng-click="position_molra(start_time, end_time)">이동</button>
                    <button ng-click="position_all(modify_rect_position)">전체보기</button>
                </p>

                <div id="make_ai_model_edit_item_scroll">
                    <div id="make_ai_model_edit_item_scroll_list" ng-show="modify_success_list.length !== 0">
                        <ul>
                            <li ng-repeat="image in modify_list">Position: {{image.position}}</li>
                        </ul>
                        <img ng-repeat="image in modify_list" ng-click="ItemModifyEditor(image, selected_video.idx, selected_item.idx, width_img, height_img)" ng-src="{{image.draw_img_name}}">
                        <ul>
                            <li ng-repeat="image in modify_list">{{image.position_time_d}}</li>
                        </ul>
                    </div>
                </div>
                <input type="range" min="0" max="{{modify_list.length -1}}" step="1" value="0" id="edit_item_scrollbar" ng-model="edit_item_range" ng-change="edit_item_scroll()">
                <div>
                    <p>
                        연결된 상품
                        <button type="button">전체삭제</button>
                        <button type="button">선택삭제</button>
                    </p>
                    <div ng-show="classification_item_list != null">
<!--                         ng-show="item.classification_item != null"-->
                        <button ng-repeat="item in classification_item_list" ng-show="item.classification_item != null" ng-click="highlight_rect(item)">{{item.classification_item}}</button>
                    </div>
                    <img ng-show="classification_item_list == null" ng-src="../images/uploads/{{selected_item.idx}}_product.jpg">
                </div>
            </div>
        </div>
    </div>
</section>